interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-28T02:24:41.9309227+00:00","endpoint":"https://KVTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/76f3c067-729e-99d3-ecb7-a914abd8d95d?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/76f3c067-729e-99d3-ecb7-a914abd8d95d?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/76f3c067-729e-99d3-ecb7-a914abd8d95d","name":"76f3c067-729e-99d3-ecb7-a914abd8d95d","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/76f3c067-729e-99d3-ecb7-a914abd8d95d?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-28T02:24:44+00:00","endpoint":"https://kvtesto2vhymr5eehbphssgf.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtesto2vhymr5eehbphssgf","name":"KVTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5c00211a-0000-0100-0000-5d8ec46b0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"+s1Z-l0-s0://yzCn8Fa5hdWuHz0GmB","name":"Primary","value":"oBgdOiVO59r7drgPRSAQNb7bhqavO7/sQ57yyQ8EjWs=","connectionString":"Endpoint=https://kvtesto2vhymr5eehbphssgf.azconfig.io;Id=+s1Z-l0-s0://yzCn8Fa5hdWuHz0GmB;Secret=oBgdOiVO59r7drgPRSAQNb7bhqavO7/sQ57yyQ8EjWs=","lastModified":"2019-09-28T02:24:41+00:00","readOnly":false},{"id":"jfZ1-l0-s0:OUoyv4fsWw6DVdhnYWzN","name":"Secondary","value":"mbJbOlidPhTMzof7XWE3fCAzKh8WPZbbGcZzR4EWlvA=","connectionString":"Endpoint=https://kvtesto2vhymr5eehbphssgf.azconfig.io;Id=jfZ1-l0-s0:OUoyv4fsWw6DVdhnYWzN;Secret=mbJbOlidPhTMzof7XWE3fCAzKh8WPZbbGcZzR4EWlvA=","lastModified":"2019-09-28T02:24:41+00:00","readOnly":false},{"id":"lBO2-l0-s0:2tVvWONYaJzlUrcVCmfe","name":"Primary
        Read Only","value":"EyHy9bVi4+qGnphfNVLw1mnUf9JJNvSxII9FoWSuXHM=","connectionString":"Endpoint=https://kvtesto2vhymr5eehbphssgf.azconfig.io;Id=lBO2-l0-s0:2tVvWONYaJzlUrcVCmfe;Secret=EyHy9bVi4+qGnphfNVLw1mnUf9JJNvSxII9FoWSuXHM=","lastModified":"2019-09-28T02:24:41+00:00","readOnly":true},{"id":"5DeX-l0-s0:HKFrmTWfgXkNsUbxOBQa","name":"Secondary
        Read Only","value":"/DRcZdqFVQtsa1lZxX+VrZoMflC5mn6kYHhrARYwNQ8=","connectionString":"Endpoint=https://kvtesto2vhymr5eehbphssgf.azconfig.io;Id=5DeX-l0-s0:HKFrmTWfgXkNsUbxOBQa;Secret=/DRcZdqFVQtsa1lZxX+VrZoMflC5mn6kYHhrARYwNQ8=","lastModified":"2019-09-28T02:24:41+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:24:55 GMT
    method: GET
    uri: https://kvtesto2vhymr5eehbphssgf.azconfig.io/kv/Color?label=v1.0.0&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "text", "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - yZlwX3fgUtcVK+aqB5JbkB+YnuorZ8XpcuBG5xu2FHw=
      x-ms-date:
      - Sep, 28 2019 02:24:55 GMT
    method: PUT
    uri: https://kvtesto2vhymr5eehbphssgf.azconfig.io/kv/Color?label=v1.0.0
  response:
    body:
      string: '{"etag":"qYPBX0QVBvmsVkGmGCf962AaoK7","key":"Color","label":"v1.0.0","content_type":"text","value":"Red","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:56+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qYPBX0QVBvmsVkGmGCf962AaoK7"'
      last-modified:
      - Sat, 28 Sep 2019 02:24:56 GMT
      sync-token:
      - zAJw6V16=MzotMSM0NTA0MzA=;sn=450430
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "text", "value": "Green", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"qYPBX0QVBvmsVkGmGCf962AaoK7"'
      x-ms-content-sha256:
      - DsaPqt/ALwfjVRXkDKNPeRKKVC4wUGzvRH61CVrpT6o=
      x-ms-date:
      - Sep, 28 2019 02:24:58 GMT
    method: PUT
    uri: https://kvtesto2vhymr5eehbphssgf.azconfig.io/kv/Color?label=v1.0.0
  response:
    body:
      string: '{"etag":"IdZUuGMUXNO14Wq8EgA2LwRktOa","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:59+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"IdZUuGMUXNO14Wq8EgA2LwRktOa"'
      last-modified:
      - Sat, 28 Sep 2019 02:24:59 GMT
      sync-token:
      - zAJw6V16=MzotMSM0NTA0MzM=;sn=450433
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:00 GMT
    method: GET
    uri: https://kvtesto2vhymr5eehbphssgf.azconfig.io/kv/Color?label=newlabel&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "text", "value": "Green", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - WiZBXGG/De7UJCUWU2UUmKALtp5LjZS45s8U26H2gn4=
      x-ms-date:
      - Sep, 28 2019 02:25:00 GMT
    method: PUT
    uri: https://kvtesto2vhymr5eehbphssgf.azconfig.io/kv/Color?label=newlabel
  response:
    body:
      string: '{"etag":"lL8arvXXkFvHtmwwXzTy1JRDUzt","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-28T02:25:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"lL8arvXXkFvHtmwwXzTy1JRDUzt"'
      last-modified:
      - Sat, 28 Sep 2019 02:25:00 GMT
      sync-token:
      - zAJw6V16=MzotMSM0NTA0MzU=;sn=450435
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:03 GMT
    method: GET
    uri: https://kvtesto2vhymr5eehbphssgf.azconfig.io/kv?key=*&label=*&fields=
  response:
    body:
      string: '{"items":[{"etag":"lL8arvXXkFvHtmwwXzTy1JRDUzt","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-28T02:25:00+00:00"},{"etag":"IdZUuGMUXNO14Wq8EgA2LwRktOa","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:59+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM0NTA0MzY=;sn=450436
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:04 GMT
    method: GET
    uri: https://kvtesto2vhymr5eehbphssgf.azconfig.io/revisions?key=Color&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"lL8arvXXkFvHtmwwXzTy1JRDUzt","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-28T02:25:00+00:00"},{"etag":"IdZUuGMUXNO14Wq8EgA2LwRktOa","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:59+00:00"},{"etag":"qYPBX0QVBvmsVkGmGCf962AaoK7","key":"Color","label":"v1.0.0","content_type":"text","value":"Red","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:56+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM0NTA0Mzk=;sn=450439
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:06 GMT
    method: GET
    uri: https://kvtesto2vhymr5eehbphssgf.azconfig.io/kv?key=Color&label=newlabel&fields=
  response:
    body:
      string: '{"items":[{"etag":"lL8arvXXkFvHtmwwXzTy1JRDUzt","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-28T02:25:00+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM0NTA0Mzk=;sn=450439
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Accept-Datetime:
      - '2019-09-28T02:25:00Z'
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:12 GMT
    method: GET
    uri: https://kvtesto2vhymr5eehbphssgf.azconfig.io/kv?key=Color&label=newlabel&fields=
  response:
    body:
      string: '{"items":[{"etag":"lL8arvXXkFvHtmwwXzTy1JRDUzt","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-28T02:25:00+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      link:
      - </kv?key=Color&label=newlabel&fields=>; rel="original"
      memento-datetime:
      - Sat, 28 Sep 2019 02:25:00 GMT
      sync-token:
      - zAJw6V16=MzotMSM0NTA0NDM=;sn=450443
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:14 GMT
    method: GET
    uri: https://kvtesto2vhymr5eehbphssgf.azconfig.io/kv?key=Color&label=newlabel&fields=
  response:
    body:
      string: '{"items":[{"etag":"EsvGI62sGZhwYS1r47RoX1Ssdn0","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-28T02:25:13+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM0NTA0NDU=;sn=450445
    status:
      code: 200
      message: OK
version: 1
