interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-18T22:04:10.8685214+00:00","endpoint":"https://FeatureTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002","name":"FeatureTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e24b3f80-d2f7-2d49-0db6-1651916b7797?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e24b3f80-d2f7-2d49-0db6-1651916b7797?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e24b3f80-d2f7-2d49-0db6-1651916b7797","name":"e24b3f80-d2f7-2d49-0db6-1651916b7797","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e24b3f80-d2f7-2d49-0db6-1651916b7797?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-18T22:04:12+00:00","endpoint":"https://featuretestduznid5mlh32k.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featuretestduznid5mlh32k","name":"FeatureTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"010089b3-0000-0100-0000-5d82a9db0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"Tiyv-l0-s0:fR2KQ7ZdgmQwsVrJ56AO","name":"Primary","value":"OFoS6I4MNyx+OwteKZk9dWjDFRfbVcahMZg1RoLG/WI=","connectionString":"Endpoint=https://featuretestduznid5mlh32k.azconfig.io;Id=Tiyv-l0-s0:fR2KQ7ZdgmQwsVrJ56AO;Secret=OFoS6I4MNyx+OwteKZk9dWjDFRfbVcahMZg1RoLG/WI=","lastModified":"2019-09-18T22:04:10+00:00","readOnly":false},{"id":"v4Iv-l0-s0:kY6hDI2kBeZ3KviD3End","name":"Secondary","value":"qtcnOb0twsWi5SjPmkm+lxJr3/Pnjyuvc22I33D2jIs=","connectionString":"Endpoint=https://featuretestduznid5mlh32k.azconfig.io;Id=v4Iv-l0-s0:kY6hDI2kBeZ3KviD3End;Secret=qtcnOb0twsWi5SjPmkm+lxJr3/Pnjyuvc22I33D2jIs=","lastModified":"2019-09-18T22:04:10+00:00","readOnly":false},{"id":"pcqF-l0-s0:QGTUNSi4w/pEje04Ir67","name":"Primary
        Read Only","value":"id67iw8/fdD3T3AGu5HuibdYxfV8N3Nk8+CI2/Aa1OE=","connectionString":"Endpoint=https://featuretestduznid5mlh32k.azconfig.io;Id=pcqF-l0-s0:QGTUNSi4w/pEje04Ir67;Secret=id67iw8/fdD3T3AGu5HuibdYxfV8N3Nk8+CI2/Aa1OE=","lastModified":"2019-09-18T22:04:10+00:00","readOnly":true},{"id":"2GoJ-l0-s0:NxxXyQzZjHDG9akQDDjE","name":"Secondary
        Read Only","value":"R8wwntzGCq48q5/vqWZODNb86QRLgtZA0rs0f8ApovQ=","connectionString":"Endpoint=https://featuretestduznid5mlh32k.azconfig.io;Id=2GoJ-l0-s0:NxxXyQzZjHDG9akQDDjE;Secret=R8wwntzGCq48q5/vqWZODNb86QRLgtZA0rs0f8ApovQ=","lastModified":"2019-09-18T22:04:10+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 18 2019 22:04:23 GMT
    method: GET
    uri: https://featuretestduznid5mlh32k.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\n  \"id\": \"Beta\",\n  \"description\": null,\n  \"enabled\": false,\n  \"label\":
      \"v1\",\n  \"conditions\": {\n    \"client_filters\": []\n  }\n}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - fL12UN5N5pLdbzb28Fd7MaiOXkhZL0P2TN1gtBxeEwI=
      x-ms-date:
      - Sep, 18 2019 22:04:24 GMT
    method: PUT
    uri: https://featuretestduznid5mlh32k.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1
  response:
    body:
      string: '{"etag":"M2JzaBTNVHMpl0VZKQHJasbVPMb","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\n  \"id\":
        \"Beta\",\n  \"description\": null,\n  \"enabled\": false,\n  \"label\": \"v1\",\n  \"conditions\":
        {\n    \"client_filters\": []\n  }\n}","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"M2JzaBTNVHMpl0VZKQHJasbVPMb"'
      last-modified:
      - Wed, 18 Sep 2019 22:04:24 GMT
      sync-token:
      - zAJw6V16=NTotMSM1MzA1MjU=;sn=530525
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\n  \"id\": \"Beta\",\n  \"description\": \"Beta Testing Feature
      Flag\",\n  \"enabled\": false,\n  \"label\": \"v1\",\n  \"conditions\": {\n    \"client_filters\":
      []\n  }\n}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"M2JzaBTNVHMpl0VZKQHJasbVPMb"'
      x-ms-content-sha256:
      - UBXaEIfSzPKBNurfJnTRAR+7ESnWdc3tFXK/9ta4hQA=
      x-ms-date:
      - Sep, 18 2019 22:04:25 GMT
    method: PUT
    uri: https://featuretestduznid5mlh32k.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1
  response:
    body:
      string: '{"etag":"pVv9bwUdjQVL4s2IMzZKqoe6wC3","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\n  \"id\":
        \"Beta\",\n  \"description\": \"Beta Testing Feature Flag\",\n  \"enabled\":
        false,\n  \"label\": \"v1\",\n  \"conditions\": {\n    \"client_filters\":
        []\n  }\n}","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"pVv9bwUdjQVL4s2IMzZKqoe6wC3"'
      last-modified:
      - Wed, 18 Sep 2019 22:04:26 GMT
      sync-token:
      - zAJw6V16=NTotMSM1MzA1Mjc=;sn=530527
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 18 2019 22:04:33 GMT
    method: GET
    uri: https://featuretestduznid5mlh32k.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v2&fields=
  response:
    body:
      string: '{"etag":"gsQiTOO68wtDnZZQBYg22RcAFF0","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\n  \"id\":
        \"Beta\",\n  \"description\": \"Beta Testing Feature Flag\",\n  \"enabled\":
        false,\n  \"label\": \"v2\",\n  \"conditions\": {\n    \"client_filters\":
        []\n  }\n}","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"gsQiTOO68wtDnZZQBYg22RcAFF0"'
      last-modified:
      - Wed, 18 Sep 2019 22:04:30 GMT
      sync-token:
      - zAJw6V16=NTotMSM1MzA1MzE=;sn=530531
    status:
      code: 200
      message: OK
version: 1
