interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-28T02:37:07.5088312+00:00","endpoint":"https://FeatureFilterTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002","name":"FeatureFilterTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6ddbcb6e-ffc9-6782-3016-559444e9fd10?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6ddbcb6e-ffc9-6782-3016-559444e9fd10?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6ddbcb6e-ffc9-6782-3016-559444e9fd10","name":"6ddbcb6e-ffc9-6782-3016-559444e9fd10","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6ddbcb6e-ffc9-6782-3016-559444e9fd10?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-28T02:37:09+00:00","endpoint":"https://featurefiltertestpaqzps6.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurefiltertestpaqzps6","name":"FeatureFilterTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2d013a69-0000-0100-0000-5d8ec7540000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"VZrS-l0-s0:bW+nkCqc6UNSzPX8Bvml","name":"Primary","value":"/Z4ckDfWkHac+kTeEUC76LLtdCtwIquUYPuArUyV6ws=","connectionString":"Endpoint=https://featurefiltertestpaqzps6.azconfig.io;Id=VZrS-l0-s0:bW+nkCqc6UNSzPX8Bvml;Secret=/Z4ckDfWkHac+kTeEUC76LLtdCtwIquUYPuArUyV6ws=","lastModified":"2019-09-28T02:37:07+00:00","readOnly":false},{"id":"e8N0-l0-s0:1NhGOVQHVxLfLJX4IJT0","name":"Secondary","value":"SMYDKPIdWhvhEcQMUaefuBSYlP2Ea7oHQRKf7UvrQlw=","connectionString":"Endpoint=https://featurefiltertestpaqzps6.azconfig.io;Id=e8N0-l0-s0:1NhGOVQHVxLfLJX4IJT0;Secret=SMYDKPIdWhvhEcQMUaefuBSYlP2Ea7oHQRKf7UvrQlw=","lastModified":"2019-09-28T02:37:07+00:00","readOnly":false},{"id":"VNBu-l0-s0:iJ8Vz66B9fUhXDHh4j84","name":"Primary
        Read Only","value":"isRacNnwxVOzoxc6CI3Rw+lNXWH9D6crvjyKzkgLtoM=","connectionString":"Endpoint=https://featurefiltertestpaqzps6.azconfig.io;Id=VNBu-l0-s0:iJ8Vz66B9fUhXDHh4j84;Secret=isRacNnwxVOzoxc6CI3Rw+lNXWH9D6crvjyKzkgLtoM=","lastModified":"2019-09-28T02:37:07+00:00","readOnly":true},{"id":"Lhg9-l0-s0:kQJmssA85ArXXbKs4Gst","name":"Secondary
        Read Only","value":"/WDJowBypWBPTnELKTh9NAuOzEwrhaAhdWpOxJSRv4Q=","connectionString":"Endpoint=https://featurefiltertestpaqzps6.azconfig.io;Id=Lhg9-l0-s0:kQJmssA85ArXXbKs4Gst;Secret=/WDJowBypWBPTnELKTh9NAuOzEwrhaAhdWpOxJSRv4Q=","lastModified":"2019-09-28T02:37:07+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:37:25 GMT
    method: GET
    uri: https://featurefiltertestpaqzps6.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Color\", \"description\": null, \"enabled\": false, \"label\":
      \"Standard\", \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - rmaEbXCnxZg/Y916PgS5BygdBObCH7K8idm75ZURhf0=
      x-ms-date:
      - Sep, 28 2019 02:37:25 GMT
    method: PUT
    uri: https://featurefiltertestpaqzps6.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard
  response:
    body:
      string: '{"etag":"AI7Pj2sOScgqbXFzWSSK388z53q","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": null, \"enabled\": false, \"label\": \"Standard\",
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-28T02:37:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"AI7Pj2sOScgqbXFzWSSK388z53q"'
      last-modified:
      - Sat, 28 Sep 2019 02:37:26 GMT
      sync-token:
      - zAJw6V16=NTotMSM1Njc2OTY=;sn=567696
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Color\", \"description\": null, \"enabled\": false, \"label\":
      \"Standard\", \"conditions\": {\"client_filters\": [{\"name\": \"FirstFilter\",
      \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\",
      \"Name3\": \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}}]}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"AI7Pj2sOScgqbXFzWSSK388z53q"'
      x-ms-content-sha256:
      - ebSeH8Qnmf23k8iA5hEN6YDsTipxsrlwgc1rUwxMC2M=
      x-ms-date:
      - Sep, 28 2019 02:37:27 GMT
    method: PUT
    uri: https://featurefiltertestpaqzps6.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard
  response:
    body:
      string: '{"etag":"C0dH2YAjO5pwXgBI5BXIdBUyJIW","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": null, \"enabled\": false, \"label\": \"Standard\",
        \"conditions\": {\"client_filters\": [{\"name\": \"FirstFilter\", \"parameters\":
        {\"Name1\": [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\", \"Name3\":
        \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}}]}}","tags":{},"locked":false,"last_modified":"2019-09-28T02:37:28+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"C0dH2YAjO5pwXgBI5BXIdBUyJIW"'
      last-modified:
      - Sat, 28 Sep 2019 02:37:28 GMT
      sync-token:
      - zAJw6V16=NTotMSM1Njc2OTc=;sn=567697
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Color\", \"description\": null, \"enabled\": false, \"label\":
      \"Standard\", \"conditions\": {\"client_filters\": [{\"name\": \"FirstFilter\",
      \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\",
      \"Name3\": \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}}, {\"name\": \"SecondFilter\",
      \"parameters\": {\"Foo\": \"Bar=value\", \"name\": \"Foo=Bar\", \"{\\\"Value\\\":\\\"50\\\",\\\"SecondValue\\\":\\\"75\\\"}\":
      \"ParamNameIsJsonString\"}}]}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"C0dH2YAjO5pwXgBI5BXIdBUyJIW"'
      x-ms-content-sha256:
      - 9sSresrIM9UAcxs7Qb1EwlAJD7klmRr8DjilVYbVW5Q=
      x-ms-date:
      - Sep, 28 2019 02:37:30 GMT
    method: PUT
    uri: https://featurefiltertestpaqzps6.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard
  response:
    body:
      string: '{"et[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:38:00 GMT
    method: GET
    uri: https://featurefiltertestpaqzps6.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&fields=
  response:
    body:
      string: '{"etag":"jV84SufFbBsi49AyhUGNCz7wEEt","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": null, \"enabled\": true, \"label\": \"Standard\",
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-28T02:37:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"jV84SufFbBsi49AyhUGNCz7wEEt"'
      last-modified:
      - Sat, 28 Sep 2019 02:37:57 GMT
      sync-token:
      - zAJw6V16=NTotMSM1Njc3MDI=;sn=567702
    status:
      code: 200
      message: OK
version: 1
