interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-18T22:04:10.8067066+00:00","endpoint":"https://ImportTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/06dcfc10-265c-d2db-8ab4-c076f23878f9?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/06dcfc10-265c-d2db-8ab4-c076f23878f9?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/06dcfc10-265c-d2db-8ab4-c076f23878f9","name":"06dcfc10-265c-d2db-8ab4-c076f23878f9","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/06dcfc10-265c-d2db-8ab4-c076f23878f9?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-18T22:04:12+00:00","endpoint":"https://importtestc2l3k5pz2zpowi.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtestc2l3k5pz2zpowi","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"01008db3-0000-0100-0000-5d82a9db0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"YMaW-l0-s0:EWRRMCeNLc0ThS6ytueg","name":"Primary","value":"ZaRZq1jXIDayAk9rKrNK+KVfJVVIOODxP1Mc1goXPHQ=","connectionString":"Endpoint=https://importtestc2l3k5pz2zpowi.azconfig.io;Id=YMaW-l0-s0:EWRRMCeNLc0ThS6ytueg;Secret=ZaRZq1jXIDayAk9rKrNK+KVfJVVIOODxP1Mc1goXPHQ=","lastModified":"2019-09-18T22:04:10+00:00","readOnly":false},{"id":"uhqT-l0-s0:MfUkXKYYGYonY2TFOe+O","name":"Secondary","value":"W+5QFuPGKO0BQriFuOu0XLhvLyFlfFAZln9YCpFiQbk=","connectionString":"Endpoint=https://importtestc2l3k5pz2zpowi.azconfig.io;Id=uhqT-l0-s0:MfUkXKYYGYonY2TFOe+O;Secret=W+5QFuPGKO0BQriFuOu0XLhvLyFlfFAZln9YCpFiQbk=","lastModified":"2019-09-18T22:04:10+00:00","readOnly":false},{"id":"H1Xf-l0-s0:P61RoXg3JAjwxih6Amnh","name":"Primary
        Read Only","value":"ZE+Eu7PENstlbMs7D2v7dLk0ZwUxqlEtXnU05tvyEPo=","connectionString":"Endpoint=https://importtestc2l3k5pz2zpowi.azconfig.io;Id=H1Xf-l0-s0:P61RoXg3JAjwxih6Amnh;Secret=ZE+Eu7PENstlbMs7D2v7dLk0ZwUxqlEtXnU05tvyEPo=","lastModified":"2019-09-18T22:04:10+00:00","readOnly":true},{"id":"FntO-l0-s0:AQs3o1r5AjbnA236DX1b","name":"Secondary
        Read Only","value":"4nUYGJ2MCM2/SSmcven8l3fAfpOJi/fohC61x5yidCA=","connectionString":"Endpoint=https://importtestc2l3k5pz2zpowi.azconfig.io;Id=FntO-l0-s0:AQs3o1r5AjbnA236DX1b;Secret=4nUYGJ2MCM2/SSmcven8l3fAfpOJi/fohC61x5yidCA=","lastModified":"2019-09-18T22:04:10+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PC7Oups+djhN5P7VQ1nKd7CVH/2pq7P0uo6Aa0psTpU=
      x-ms-date:
      - Sep, 18 2019 22:04:23 GMT
    method: PUT
    uri: https://importtestc2l3k5pz2zpowi.azconfig.io/kv/BackgroundColor?label=
  response:
    body:
      string: '{"etag":"VT9XsUjjH9HUbiXDR5rnYbbJS3M","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"VT9XsUjjH9HUbiXDR5rnYbbJS3M"'
      last-modified:
      - Wed, 18 Sep 2019 22:04:24 GMT
      sync-token:
      - zAJw6V16=MzotMSM0MTgyODE=;sn=418281
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Sep, 18 2019 22:04:24 GMT
    method: PUT
    uri: https://importtestc2l3k5pz2zpowi.azconfig.io/kv/Language?label=
  response:
    body:
      string: '{"etag":"vLLrUMVISuFzXv0LiOokCl5MQIc","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"vLLrUMVISuFzXv0LiOokCl5MQIc"'
      last-modified:
      - Wed, 18 Sep 2019 22:04:24 GMT
      sync-token:
      - zAJw6V16=MzotMSM0MTgyODI=;sn=418282
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "English", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - QDILjzOgYSWGZAvsE9UaVqAJAXrmdhxSGLxa6xdkdlc=
      x-ms-date:
      - Sep, 18 2019 22:04:24 GMT
    method: PUT
    uri: https://importtestc2l3k5pz2zpowi.azconfig.io/kv/Langugage?label=
  response:
    body:
      string: '{"etag":"CxFZdZDQcY7KVrpikRcw9XP9RNc","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"CxFZdZDQcY7KVrpikRcw9XP9RNc"'
      last-modified:
      - Wed, 18 Sep 2019 22:04:24 GMT
      sync-token:
      - zAJw6V16=MzotMSM0MTgyODM=;sn=418283
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "Acura", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - IomN0TxyiknCeMpyC9pXASukPxU1uGXMZ2p0dSc7RkY=
      x-ms-date:
      - Sep, 18 2019 22:04:24 GMT
    method: PUT
    uri: https://importtestc2l3k5pz2zpowi.azconfig.io/kv/Settings%3ABackgroundColor%2Fcars%2FToyota?label=
  response:
    body:
      string: '{"etag":"M7Otnve9BDSna848kbqHEvb4You","key":"Settings:BackgroundColor/cars/Toyota","label":null,"content_type":null,"value":"Acura","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"M7Otnve9BDSna848kbqHEvb4You"'
      last-modified:
      - Wed, 18 Sep 2019 22:04:24 GMT
      sync-token:
      - zAJw6V16=MzotMSM0MTgyODQ=;sn=418284
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "ship1", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 6JYPAMdWKB1Nq3JlkewuuL6gv8n/h5LcsstlSTBiS2U=
      x-ms-date:
      - Sep, 18 2019 22:04:24 GMT
    method: PUT
    uri: https://importtestc2l3k5pz2zpowi.azconfig.io/kv/Settings%3ABackgroundColor%2Fship%2F0?label=
  response:
    body:
      string: '{"etag":"a1nrwAoo28SHfe1og0YSdGSCCJi","key":"Settings:BackgroundColor/ship/0","label":null,"content_type":null,"value":"ship1","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"a1nrwAoo28SHfe1og0YSdGSCCJi"'
      last-modified:
      - Wed, 18 Sep 2019 22:04:24 GMT
      sync-token:
      - zAJw6V16=MzotMSM0MTgyODU=;sn=418285
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Sep, 18 2019 22:04:24 GMT
    method: PUT
    uri: https://importtestc2l3k5pz2zpowi.azconfig.io/kv/abc?label=
  response:
    body:
      string: '{"etag":"N7Wa4Hzp1AW703xtDMRlORfeyQS","key":"abc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:25+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"N7Wa4Hzp1AW703xtDMRlORfeyQS"'
      last-modified:
      - Wed, 18 Sep 2019 22:04:25 GMT
      sync-token:
      - zAJw6V16=MzotMSM0MTgyODg=;sn=418288
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Sep, 18 2019 22:04:24 GMT
    method: PUT
    uri: https://importtestc2l3k5pz2zpowi.azconfig.io/kv/appabc?label=
  response:
    body:
      string: '{"etag":"oWzXaEzRVK8RVE9nEeumj5THrxM","key":"appabc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:25+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"oWzXaEzRVK8RVE9nEeumj5THrxM"'
      last-modified:
      - Wed, 18 Sep 2019 22:04:25 GMT
      sync-token:
      - zAJw6V16=MzotMSM0MTgyODk=;sn=418289
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "black", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 3zRtmzsbtz/bO3WpX/Lz50BMrJsDVg75l44KhYt3GGo=
      x-ms-date:
      - Sep, 18 2019 22:04:24 GMT
    method: PUT
    uri: https://importtestc2l3k5pz2zpowi.azconfig.io/kv/background-color?label=
  response:
    body:
      string: '{"etag":"WTvSGZLKAT3pmfDbDekDO1sKPTg","key":"background-color","label":null,"content_type":null,"value":"black","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:25+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"WTvSGZLKAT3pmfDbDekDO1sKPTg"'
      last-modified:
      - Wed, 18 Sep 2019 22:04:25 GMT
      sync-token:
      - zAJw6V16=MzotMSM0MTgyOTA=;sn=418290
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "34", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - RYAiemxYAA9E5VcODQIuKsC6SG3KVPkcm0TOHEMaaek=
      x-ms-date:
      - Sep, 18 2019 22:04:24 GMT
    method: PUT
    uri: https://importtestc2l3k5pz2zpowi.azconfig.io/kv/font-size?label=
  response:
    body:
      string: '{"etag":"uVDsE2VnidhQxAPnWtqGAD2AIwD","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:25+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"uVDsE2VnidhQxAPnWtqGAD2AIwD"'
      last-modified:
      - Wed, 18 Sep 2019 22:04:25 GMT
      sync-token:
      - zAJw6V16=MzotMSM0MTgyOTE=;sn=418291
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Sep, 18 2019 22:04:25 GMT
    method: PUT
    uri: https://importtestc2l3k5pz2zpowi.azconfig.io/kv/language?label=
  response:
    body:
      string: '{"etag":"ZrRkbQRZ2kHLG3G6noTDb0Q546L","key":"language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:25+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ZrRkbQRZ2kHLG3G6noTDb0Q546L"'
      last-modified:
      - Wed, 18 Sep 2019 22:04:25 GMT
      sync-token:
      - zAJw6V16=MzotMSM0MTgyOTI=;sn=418292
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 18 2019 22:04:26 GMT
    method: GET
    uri: https://importtestc2l3k5pz2zpowi.azconfig.io/kv?key=*&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"VT9XsUjjH9HUbiXDR5rnYbbJS3M","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:24+00:00"},{"etag":"vLLrUMVISuFzXv0LiOokCl5MQIc","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:24+00:00"},{"etag":"CxFZdZDQcY7KVrpikRcw9XP9RNc","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modifi[...]
