interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-25T22:43:12.8894096+00:00","endpoint":"https://CredentialTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/3a8d21bd-8821-33ab-af0d-1a925304e154?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/3a8d21bd-8821-33ab-af0d-1a925304e154?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/3a8d21bd-8821-33ab-af0d-1a925304e154","name":"3a8d21bd-8821-33ab-af0d-1a925304e154","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/3a8d21bd-8821-33ab-af0d-1a925304e154?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-25T22:43:14+00:00","endpoint":"https://credentialtest6ihgnu3m4q.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/credentialtest6ihgnu3m4q","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3a00eb3b-0000-0100-0000-5d8bed820000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"cqmW-l0-s0:OnPCiIrnseERXocHpieb","name":"Primary","value":"NolRfFdJO/61j5x2c4cUflYqW8J74h8dyNXA521Gl9E=","connectionString":"Endpoint=https://credentialtest6ihgnu3m4q.azconfig.io;Id=cqmW-l0-s0:OnPCiIrnseERXocHpieb;Secret=NolRfFdJO/61j5x2c4cUflYqW8J74h8dyNXA521Gl9E=","lastModified":"2019-09-25T22:43:12+00:00","readOnly":false},{"id":"uvAQ-l0-s0:EhwW6UQGvICRX7WHO4MV","name":"Secondary","value":"GFxyLlqJg99BiVr/RONBYVIVbWO4iFWNdaqBFUsC9Gk=","connectionString":"Endpoint=https://credentialtest6ihgnu3m4q.azconfig.io;Id=uvAQ-l0-s0:EhwW6UQGvICRX7WHO4MV;Secret=GFxyLlqJg99BiVr/RONBYVIVbWO4iFWNdaqBFUsC9Gk=","lastModified":"2019-09-25T22:43:12+00:00","readOnly":false},{"id":"Jwc9-l0-s0:og4QvMCA96uQ4uVlrcX4","name":"Primary
        Read Only","value":"LxKjrjOW3Gr/FsavBur3VKKeut6O0y44VTOmXafALG0=","connectionString":"Endpoint=https://credentialtest6ihgnu3m4q.azconfig.io;Id=Jwc9-l0-s0:og4QvMCA96uQ4uVlrcX4;Secret=LxKjrjOW3Gr/FsavBur3VKKeut6O0y44VTOmXafALG0=","lastModified":"2019-09-25T22:43:12+00:00","readOnly":true},{"id":"vhX2-l0-s0:EglPgiRJTrcwSy9iIlpw","name":"Secondary
        Read Only","value":"TfWyiyjtMUQuFRFTnrvAbPZAXoeTFAWKk+GzceCkPB4=","connectionString":"Endpoint=https://credentialtest6ihgnu3m4q.azconfig.io;Id=vhX2-l0-s0:EglPgiRJTrcwSy9iIlpw;Secret=TfWyiyjtMUQuFRFTnrvAbPZAXoeTFAWKk+GzceCkPB4=","lastModified":"2019-09-25T22:43:12+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "cqmW-l0-s0:OnPCiIrnseERXocHpieb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/RegenerateKey?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"KeNB-l0-s0:7+j3VwzxY2E/Qj9u+Teq","name":"Primary","value":"pbGtJLrCQQ6Ba+R2GiQ28Y8zHYLWA/qi9pD7PfL/AiM=","connectionString":"Endpoint=https://credentialtest6ihgnu3m4q.azconfig.io;Id=KeNB-l0-s0:7+j3VwzxY2E/Qj9u+Teq;Secret=pbGtJLrCQQ6Ba+R2GiQ28Y8zHYLWA/qi9pD7PfL/AiM=","lastModified":"2019-09-25T22:43:27+00:00","readOnly":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
version: 1
