interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-25T22:03:46.5350802+00:00","endpoint":"https://FeatureFilterTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002","name":"FeatureFilterTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/38b82dd8-731f-c247-9b60-0a9961137fa3?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/38b82dd8-731f-c247-9b60-0a9961137fa3?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/38b82dd8-731f-c247-9b60-0a9961137fa3","name":"38b82dd8-731f-c247-9b60-0a9961137fa3","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/38b82dd8-731f-c247-9b60-0a9961137fa3?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-25T22:03:47+00:00","endpoint":"https://featurefiltertestj4rxw7y.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurefiltertestj4rxw7y","name":"FeatureFilterTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"38007bd3-0000-0100-0000-5d8be4430000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"kovl-l0-s0:2aspqZJYgOCJwqTGwRyJ","name":"Primary","value":"H9xmtfaSoBOie1Fiw2xn2oBwNLofCJFCIupWEeJAoHY=","connectionString":"Endpoint=https://featurefiltertestj4rxw7y.azconfig.io;Id=kovl-l0-s0:2aspqZJYgOCJwqTGwRyJ;Secret=H9xmtfaSoBOie1Fiw2xn2oBwNLofCJFCIupWEeJAoHY=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":false},{"id":"Uelv-l0-s0:pceBclLRNt61Fd+pJpCy","name":"Secondary","value":"cnr5sDCX6yV8V/UtElMJ0diaEd2x/aqqMO5zWPui+24=","connectionString":"Endpoint=https://featurefiltertestj4rxw7y.azconfig.io;Id=Uelv-l0-s0:pceBclLRNt61Fd+pJpCy;Secret=cnr5sDCX6yV8V/UtElMJ0diaEd2x/aqqMO5zWPui+24=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":false},{"id":"U8jp-l0-s0:t1joJyYLt2K/mkQjKZrX","name":"Primary
        Read Only","value":"M4vBr7acCGD7M1ZDHQcLN+pH66ltjBN3g8ZQnrEs4/w=","connectionString":"Endpoint=https://featurefiltertestj4rxw7y.azconfig.io;Id=U8jp-l0-s0:t1joJyYLt2K/mkQjKZrX;Secret=M4vBr7acCGD7M1ZDHQcLN+pH66ltjBN3g8ZQnrEs4/w=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":true},{"id":"QXCm-l0-s0:+VWZgEp8dTD6n+XfKCFq","name":"Secondary
        Read Only","value":"v3XwcXqgxLmN4HVCme0Zoi2t91k+DtW0EyEVfbXgtA0=","connectionString":"Endpoint=https://featurefiltertestj4rxw7y.azconfig.io;Id=QXCm-l0-s0:+VWZgEp8dTD6n+XfKCFq;Secret=v3XwcXqgxLmN4HVCme0Zoi2t91k+DtW0EyEVfbXgtA0=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:03:59 GMT
    method: GET
    uri: https://featurefiltertestj4rxw7y.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Color\", \"description\": null, \"enabled\": false, \"label\":
      \"Standard\", \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - rmaEbXCnxZg/Y916PgS5BygdBObCH7K8idm75ZURhf0=
      x-ms-date:
      - Sep, 25 2019 22:03:59 GMT
    method: PUT
    uri: https://featurefiltertestj4rxw7y.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard
  response:
    body:
      string: '{"etag":"BF3man5wzJ1fCMr75DiwKXo3EWt","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": null, \"enabled\": false, \"label\": \"Standard\",
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"BF3man5wzJ1fCMr75DiwKXo3EWt"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:00 GMT
      sync-token:
      - zAJw6V16=NzotMSMzOTk1NDk=;sn=399549
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Color\", \"description\": null, \"enabled\": false, \"label\":
      \"Standard\", \"conditions\": {\"client_filters\": [{\"name\": \"FirstFilter\",
      \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\",
      \"Name3\": \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}}]}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"BF3man5wzJ1fCMr75DiwKXo3EWt"'
      x-ms-content-sha256:
      - ebSeH8Qnmf23k8iA5hEN6YDsTipxsrlwgc1rUwxMC2M=
      x-ms-date:
      - Sep, 25 2019 22:04:01 GMT
    method: PUT
    uri: https://featurefiltertestj4rxw7y.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard
  response:
    body:
      string: '{"etag":"yjYbmTSU88gebQaUciMpUjoB3fx","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": null, \"enabled\": false, \"label\": \"Standard\",
        \"conditions\": {\"client_filters\": [{\"name\": \"FirstFilter\", \"parameters\":
        {\"Name1\": [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\", \"Name3\":
        \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}}]}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"yjYbmTSU88gebQaUciMpUjoB3fx"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:02 GMT
      sync-token:
      - zAJw6V16=NzotMSMzOTk1NTA=;sn=399550
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Color\", \"description\": null, \"enabled\": false, \"label\":
      \"Standard\", \"conditions\": {\"client_filters\": [{\"name\": \"FirstFilter\",
      \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\",
      \"Name3\": \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}}, {\"name\": \"SecondFilter\",
      \"parameters\": {\"Foo\": \"Bar=value\", \"name\": \"Foo=Bar\", \"{\\\"Value\\\":\\\"50\\\",\\\"SecondValue\\\":\\\"75\\\"}\":
      \"ParamNameIsJsonString\"}}]}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"yjYbmTSU88gebQaUciMpUjoB3fx"'
      x-ms-content-sha256:
      - 9sSresrIM9UAcxs7Qb1EwlAJD7klmRr8DjilVYbVW5Q=
      x-ms-date:
      - Sep, 25 2019 22:04:03 GMT
    method: PUT
    uri: https://featurefiltertestj4rxw7y.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard
  response:
    body:
      string: '{"et[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:23 GMT
    method: GET
    uri: https://featurefiltertestj4rxw7y.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&fields=
  response:
    body:
      string: '{"etag":"CiXYltO0Qq8BJuwFMj396ocPbmj","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": null, \"enabled\": true, \"label\": \"Standard\",
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:22+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"CiXYltO0Qq8BJuwFMj396ocPbmj"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:22 GMT
      sync-token:
      - zAJw6V16=NzotMSMzOTk1NTY=;sn=399556
    status:
      code: 200
      message: OK
version: 1
