interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-18T22:04:11.5587476+00:00","endpoint":"https://KVTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/ae8024ea-e1ad-6cc3-4a05-1da1fb14f681?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/ae8024ea-e1ad-6cc3-4a05-1da1fb14f681?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/ae8024ea-e1ad-6cc3-4a05-1da1fb14f681","name":"ae8024ea-e1ad-6cc3-4a05-1da1fb14f681","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/ae8024ea-e1ad-6cc3-4a05-1da1fb14f681?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-18T22:04:12+00:00","endpoint":"https://kvtestrt2r766zhrg64v4sja.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestrt2r766zhrg64v4sja","name":"KVTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4c00f8b4-0000-0100-0000-5d82a9db0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"HGns-l0-s0:2V6tCRm8LPyBbHoKYdfd","name":"Primary","value":"VMpcfhzs6LO8rLypqFAhl3gRkpvffNGHKrH+KXW4Toc=","connectionString":"Endpoint=https://kvtestrt2r766zhrg64v4sja.azconfig.io;Id=HGns-l0-s0:2V6tCRm8LPyBbHoKYdfd;Secret=VMpcfhzs6LO8rLypqFAhl3gRkpvffNGHKrH+KXW4Toc=","lastModified":"2019-09-18T22:04:11+00:00","readOnly":false},{"id":"p/DC-l0-s0:FwMqKYe2cA4NDmi1i2jL","name":"Secondary","value":"hHWpkTqWoEWb9r1qBVHiKDRw2co3WeXuvcmjg0rLp74=","connectionString":"Endpoint=https://kvtestrt2r766zhrg64v4sja.azconfig.io;Id=p/DC-l0-s0:FwMqKYe2cA4NDmi1i2jL;Secret=hHWpkTqWoEWb9r1qBVHiKDRw2co3WeXuvcmjg0rLp74=","lastModified":"2019-09-18T22:04:11+00:00","readOnly":false},{"id":"Baay-l0-s0:m13BFaMkvaNOrDSnMi31","name":"Primary
        Read Only","value":"CRn8zpiZE07XneqnOkU/t1Tl+Z1/18VDPNUspr8buAI=","connectionString":"Endpoint=https://kvtestrt2r766zhrg64v4sja.azconfig.io;Id=Baay-l0-s0:m13BFaMkvaNOrDSnMi31;Secret=CRn8zpiZE07XneqnOkU/t1Tl+Z1/18VDPNUspr8buAI=","lastModified":"2019-09-18T22:04:11+00:00","readOnly":true},{"id":"h0/P-l0-s0:l42+isg+hW/0Kisq+Tv/","name":"Secondary
        Read Only","value":"SAVTdaFVR5rxBBpmLDitLIYA/m0DnbTGf2JLDbxF8VM=","connectionString":"Endpoint=https://kvtestrt2r766zhrg64v4sja.azconfig.io;Id=h0/P-l0-s0:l42+isg+hW/0Kisq+Tv/;Secret=SAVTdaFVR5rxBBpmLDitLIYA/m0DnbTGf2JLDbxF8VM=","lastModified":"2019-09-18T22:04:11+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 18 2019 22:04:24 GMT
    method: GET
    uri: https://kvtestrt2r766zhrg64v4sja.azconfig.io/kv/Color?label=v1.0.0&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "text", "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - yZlwX3fgUtcVK+aqB5JbkB+YnuorZ8XpcuBG5xu2FHw=
      x-ms-date:
      - Sep, 18 2019 22:04:24 GMT
    method: PUT
    uri: https://kvtestrt2r766zhrg64v4sja.azconfig.io/kv/Color?label=v1.0.0
  response:
    body:
      string: '{"etag":"M844fKUYkUBeMjhSNlEXcvZ14HV","key":"Color","label":"v1.0.0","content_type":"text","value":"Red","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:25+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"M844fKUYkUBeMjhSNlEXcvZ14HV"'
      last-modified:
      - Wed, 18 Sep 2019 22:04:25 GMT
      sync-token:
      - zAJw6V16=NTotMSM1MzA1MjY=;sn=530526
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "text", "value": "Green", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"M844fKUYkUBeMjhSNlEXcvZ14HV"'
      x-ms-content-sha256:
      - DsaPqt/ALwfjVRXkDKNPeRKKVC4wUGzvRH61CVrpT6o=
      x-ms-date:
      - Sep, 18 2019 22:04:26 GMT
    method: PUT
    uri: https://kvtestrt2r766zhrg64v4sja.azconfig.io/kv/Color?label=v1.0.0
  response:
    body:
      string: '{"etag":"qH1itlwrmkfjnzsTFX2TJLy7Kr5","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qH1itlwrmkfjnzsTFX2TJLy7Kr5"'
      last-modified:
      - Wed, 18 Sep 2019 22:04:27 GMT
      sync-token:
      - zAJw6V16=NTotMSM1MzA1Mjg=;sn=530528
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 18 2019 22:04:28 GMT
    method: GET
    uri: https://kvtestrt2r766zhrg64v4sja.azconfig.io/kv/Color?label=newlabel&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "text", "value": "Green", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - WiZBXGG/De7UJCUWU2UUmKALtp5LjZS45s8U26H2gn4=
      x-ms-date:
      - Sep, 18 2019 22:04:29 GMT
    method: PUT
    uri: https://kvtestrt2r766zhrg64v4sja.azconfig.io/kv/Color?label=newlabel
  response:
    body:
      string: '{"etag":"JiDDh1aEA7ijj3TsxZ3ezDJuYqs","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:29+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"JiDDh1aEA7ijj3TsxZ3ezDJuYqs"'
      last-modified:
      - Wed, 18 Sep 2019 22:04:29 GMT
      sync-token:
      - zAJw6V16=NTotMSM1MzA1MzA=;sn=530530
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 18 2019 22:04:33 GMT
    method: GET
    uri: https://kvtestrt2r766zhrg64v4sja.azconfig.io/kv?key=*&label=*&fields=
  response:
    body:
      string: '{"items":[{"etag":"JiDDh1aEA7ijj3TsxZ3ezDJuYqs","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:29+00:00"},{"etag":"qH1itlwrmkfjnzsTFX2TJLy7Kr5","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:27+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSM1MzA1MzE=;sn=530531
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 18 2019 22:04:35 GMT
    method: GET
    uri: https://kvtestrt2r766zhrg64v4sja.azconfig.io/revisions?key=Color&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"JiDDh1aEA7ijj3TsxZ3ezDJuYqs","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:29+00:00"},{"etag":"qH1itlwrmkfjnzsTFX2TJLy7Kr5","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:27+00:00"},{"etag":"M844fKUYkUBeMjhSNlEXcvZ14HV","key":"Color","label":"v1.0.0","content_type":"text","value":"Red","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:25+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSM1MzA1MzE=;sn=530531
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 18 2019 22:04:37 GMT
    method: GET
    uri: https://kvtestrt2r766zhrg64v4sja.azconfig.io/kv?key=Color&label=newlabel&fields=
  response:
    body:
      string: '{"items":[{"etag":"JiDDh1aEA7ijj3TsxZ3ezDJuYqs","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:29+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSM1MzA1MzE=;sn=530531
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Accept-Datetime:
      - '2019-09-18T22:04:29Z'
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 18 2019 22:04:43 GMT
    method: GET
    uri: https://kvtestrt2r766zhrg64v4sja.azconfig.io/kv?key=Color&label=newlabel&fields=
  response:
    body:
      string: '{"items":[{"etag":"JiDDh1aEA7ijj3TsxZ3ezDJuYqs","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:29+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      link:
      - </kv?key=Color&label=newlabel&fields=>; rel="original"
      memento-datetime:
      - Wed, 18 Sep 2019 22:04:29 GMT
      sync-token:
      - zAJw6V16=NTotMSM1MzA1MzM=;sn=530533
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 18 2019 22:04:45 GMT
    method: GET
    uri: https://kvtestrt2r766zhrg64v4sja.azconfig.io/kv?key=Color&label=newlabel&fields=
  response:
    body:
      string: '{"items":[{"etag":"pBwl9kL4cuZn9WYpbWrTTLrsGWq","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-18T22:04:43+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSM1MzA1MzQ=;sn=530534
    status:
      code: 200
      message: OK
version: 1
