interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-25T22:43:12.8221949+00:00","endpoint":"https://ImportTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6fe3d0de-dc90-9b1f-70e3-4b1cae99548d?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6fe3d0de-dc90-9b1f-70e3-4b1cae99548d?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6fe3d0de-dc90-9b1f-70e3-4b1cae99548d","name":"6fe3d0de-dc90-9b1f-70e3-4b1cae99548d","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6fe3d0de-dc90-9b1f-70e3-4b1cae99548d?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-25T22:43:13+00:00","endpoint":"https://importtestrjsmgcl3s4cw6v.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtestrjsmgcl3s4cw6v","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3a00bd3b-0000-0100-0000-5d8bed810000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"Pcbb-l0-s0:vw8iTju5R9WKZqKSiG7t","name":"Primary","value":"ERFH5SPLVvNirmezqzo+hz522T71qHKC3vzrqjYHNQ8=","connectionString":"Endpoint=https://importtestrjsmgcl3s4cw6v.azconfig.io;Id=Pcbb-l0-s0:vw8iTju5R9WKZqKSiG7t;Secret=ERFH5SPLVvNirmezqzo+hz522T71qHKC3vzrqjYHNQ8=","lastModified":"2019-09-25T22:43:12+00:00","readOnly":false},{"id":"DWEV-l0-s0:BH5cF0n/Bbkd0m6yw8T9","name":"Secondary","value":"vx8vqXu2VrfVuuYlTpTs3FIeZm0hVskXTjDxM+qnDu8=","connectionString":"Endpoint=https://importtestrjsmgcl3s4cw6v.azconfig.io;Id=DWEV-l0-s0:BH5cF0n/Bbkd0m6yw8T9;Secret=vx8vqXu2VrfVuuYlTpTs3FIeZm0hVskXTjDxM+qnDu8=","lastModified":"2019-09-25T22:43:12+00:00","readOnly":false},{"id":"zO0Q-l0-s0:oYn+1fK++wOlCqZwRHIs","name":"Primary
        Read Only","value":"1ADY36n7x2xF8xzhjDxmawnT5hGaYOJTkLfixA/C7VI=","connectionString":"Endpoint=https://importtestrjsmgcl3s4cw6v.azconfig.io;Id=zO0Q-l0-s0:oYn+1fK++wOlCqZwRHIs;Secret=1ADY36n7x2xF8xzhjDxmawnT5hGaYOJTkLfixA/C7VI=","lastModified":"2019-09-25T22:43:12+00:00","readOnly":true},{"id":"Uai5-l0-s0:0GV0FoWIsWPp+QuGwLb6","name":"Secondary
        Read Only","value":"AXNGfKEIGYN8PSExXS8kculeIPqRXF/MeirrwApXfOQ=","connectionString":"Endpoint=https://importtestrjsmgcl3s4cw6v.azconfig.io;Id=Uai5-l0-s0:0GV0FoWIsWPp+QuGwLb6;Secret=AXNGfKEIGYN8PSExXS8kculeIPqRXF/MeirrwApXfOQ=","lastModified":"2019-09-25T22:43:12+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PC7Oups+djhN5P7VQ1nKd7CVH/2pq7P0uo6Aa0psTpU=
      x-ms-date:
      - Sep, 25 2019 22:43:25 GMT
    method: PUT
    uri: https://importtestrjsmgcl3s4cw6v.azconfig.io/kv/BackgroundColor?label=
  response:
    body:
      string: '{"etag":"UwIDq3kETUdRrsgA6n3ogoUsOa2","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"UwIDq3kETUdRrsgA6n3ogoUsOa2"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:26 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1MzU=;sn=579535
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Sep, 25 2019 22:43:26 GMT
    method: PUT
    uri: https://importtestrjsmgcl3s4cw6v.azconfig.io/kv/Language?label=
  response:
    body:
      string: '{"etag":"ysZvB04hb7dYYybmXK8lFWYyoPC","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ysZvB04hb7dYYybmXK8lFWYyoPC"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:26 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1Mzc=;sn=579537
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "English", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - QDILjzOgYSWGZAvsE9UaVqAJAXrmdhxSGLxa6xdkdlc=
      x-ms-date:
      - Sep, 25 2019 22:43:26 GMT
    method: PUT
    uri: https://importtestrjsmgcl3s4cw6v.azconfig.io/kv/Langugage?label=
  response:
    body:
      string: '{"etag":"hvVzzqvn7ARzO4veOkIUf1rKp2d","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"hvVzzqvn7ARzO4veOkIUf1rKp2d"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:26 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1Mzg=;sn=579538
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "Acura", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - IomN0TxyiknCeMpyC9pXASukPxU1uGXMZ2p0dSc7RkY=
      x-ms-date:
      - Sep, 25 2019 22:43:26 GMT
    method: PUT
    uri: https://importtestrjsmgcl3s4cw6v.azconfig.io/kv/Settings%3ABackgroundColor%2Fcars%2FToyota?label=
  response:
    body:
      string: '{"etag":"kiGqkgwBD3sUUbO3W8nxuwIJlBk","key":"Settings:BackgroundColor/cars/Toyota","label":null,"content_type":null,"value":"Acura","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"kiGqkgwBD3sUUbO3W8nxuwIJlBk"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:26 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1NDA=;sn=579540
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "ship1", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 6JYPAMdWKB1Nq3JlkewuuL6gv8n/h5LcsstlSTBiS2U=
      x-ms-date:
      - Sep, 25 2019 22:43:26 GMT
    method: PUT
    uri: https://importtestrjsmgcl3s4cw6v.azconfig.io/kv/Settings%3ABackgroundColor%2Fship%2F0?label=
  response:
    body:
      string: '{"etag":"WrwyW9jiv2i6JGbzd9hU3uFna49","key":"Settings:BackgroundColor/ship/0","label":null,"content_type":null,"value":"ship1","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"WrwyW9jiv2i6JGbzd9hU3uFna49"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:26 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1NDE=;sn=579541
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Sep, 25 2019 22:43:26 GMT
    method: PUT
    uri: https://importtestrjsmgcl3s4cw6v.azconfig.io/kv/abc?label=
  response:
    body:
      string: '{"etag":"LH6xiFjJCxa3L8K9IP9aYu8YWlY","key":"abc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"LH6xiFjJCxa3L8K9IP9aYu8YWlY"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:27 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1NDQ=;sn=579544
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Sep, 25 2019 22:43:26 GMT
    method: PUT
    uri: https://importtestrjsmgcl3s4cw6v.azconfig.io/kv/appabc?label=
  response:
    body:
      string: '{"etag":"rknqI194PXBbSrdpO2kjrgMtfR5","key":"appabc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"rknqI194PXBbSrdpO2kjrgMtfR5"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:27 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1NDU=;sn=579545
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "black", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 3zRtmzsbtz/bO3WpX/Lz50BMrJsDVg75l44KhYt3GGo=
      x-ms-date:
      - Sep, 25 2019 22:43:26 GMT
    method: PUT
    uri: https://importtestrjsmgcl3s4cw6v.azconfig.io/kv/background-color?label=
  response:
    body:
      string: '{"etag":"jcWqNDKzaol0otG2oAVUynFBjqg","key":"background-color","label":null,"content_type":null,"value":"black","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"jcWqNDKzaol0otG2oAVUynFBjqg"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:27 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1NDY=;sn=579546
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "34", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - RYAiemxYAA9E5VcODQIuKsC6SG3KVPkcm0TOHEMaaek=
      x-ms-date:
      - Sep, 25 2019 22:43:26 GMT
    method: PUT
    uri: https://importtestrjsmgcl3s4cw6v.azconfig.io/kv/font-size?label=
  response:
    body:
      string: '{"etag":"hspG9iJ4PdEzp0hUMBbpZ8zLoXl","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"hspG9iJ4PdEzp0hUMBbpZ8zLoXl"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:27 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1NDc=;sn=579547
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Sep, 25 2019 22:43:27 GMT
    method: PUT
    uri: https://importtestrjsmgcl3s4cw6v.azconfig.io/kv/language?label=
  response:
    body:
      string: '{"etag":"uviILa54YnDwjA0kCXa1JokmOZl","key":"language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"uviILa54YnDwjA0kCXa1JokmOZl"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:27 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1NDg=;sn=579548
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:28 GMT
    method: GET
    uri: https://importtestrjsmgcl3s4cw6v.azconfig.io/kv?key=*&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"UwIDq3kETUdRrsgA6n3ogoUsOa2","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:26+00:00"},{"etag":"ysZvB04hb7dYYybmXK8lFWYyoPC","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:26+00:00"},{"etag":"hvVzzqvn7ARzO4veOkIUf1rKp2d","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modifi[...]
