interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-25T22:03:46.4259555+00:00","endpoint":"https://CredentialTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6bfa7b4b-4faf-b574-abeb-5c09c280700a?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6bfa7b4b-4faf-b574-abeb-5c09c280700a?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6bfa7b4b-4faf-b574-abeb-5c09c280700a","name":"6bfa7b4b-4faf-b574-abeb-5c09c280700a","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6bfa7b4b-4faf-b574-abeb-5c09c280700a?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-25T22:03:47+00:00","endpoint":"https://credentialtestvxnkspg6un.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/credentialtestvxnkspg6un","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0301b9b4-0000-0100-0000-5d8be4430000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"lyMY-l0-s0:tmsvJd6XfybSZSxkSH5a","name":"Primary","value":"9t7dpuvI+y6TElWYL9W3be/7sv9coQYqhWPXJ7hdh70=","connectionString":"Endpoint=https://credentialtestvxnkspg6un.azconfig.io;Id=lyMY-l0-s0:tmsvJd6XfybSZSxkSH5a;Secret=9t7dpuvI+y6TElWYL9W3be/7sv9coQYqhWPXJ7hdh70=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":false},{"id":"+v4n-l0-s0:ej8gIDdIJ+0wY70k8pkP","name":"Secondary","value":"MNPXTdp3E3EWH9jBtoSNuLdMfB9AiMK8ZRJP5woAE3c=","connectionString":"Endpoint=https://credentialtestvxnkspg6un.azconfig.io;Id=+v4n-l0-s0:ej8gIDdIJ+0wY70k8pkP;Secret=MNPXTdp3E3EWH9jBtoSNuLdMfB9AiMK8ZRJP5woAE3c=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":false},{"id":"1XJP-l0-s0:rSb3Uq2B9L5xW1v7YHDH","name":"Primary
        Read Only","value":"ClS1mMIjcMIuc+Lj4tJOuPNSir7nPteEnrCK66YiJpo=","connectionString":"Endpoint=https://credentialtestvxnkspg6un.azconfig.io;Id=1XJP-l0-s0:rSb3Uq2B9L5xW1v7YHDH;Secret=ClS1mMIjcMIuc+Lj4tJOuPNSir7nPteEnrCK66YiJpo=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":true},{"id":"eNDH-l0-s0:e5z3I4iNiRo7ICmBUJGS","name":"Secondary
        Read Only","value":"l5S0NfsVdBLz3lhw4cZ0wJ+2IWsyw/oEl0NwgiuZCSA=","connectionString":"Endpoint=https://credentialtestvxnkspg6un.azconfig.io;Id=eNDH-l0-s0:e5z3I4iNiRo7ICmBUJGS;Secret=l5S0NfsVdBLz3lhw4cZ0wJ+2IWsyw/oEl0NwgiuZCSA=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "lyMY-l0-s0:tmsvJd6XfybSZSxkSH5a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/RegenerateKey?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"Ty+o-l0-s0:y3evs3/qKRmYcgxngmKb","name":"Primary","value":"EGsIbyRnYYoKcihi/OFI1w/5mybqNQNgETaMhEmHAjM=","connectionString":"Endpoint=https://credentialtestvxnkspg6un.azconfig.io;Id=Ty+o-l0-s0:y3evs3/qKRmYcgxngmKb;Secret=EGsIbyRnYYoKcihi/OFI1w/5mybqNQNgETaMhEmHAjM=","lastModified":"2019-09-25T22:04:00+00:00","readOnly":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
