interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-27T01:17:59.8845109+00:00","endpoint":"https://FeatureFilterTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002","name":"FeatureFilterTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/70913a04-baa7-0c26-0e45-004fdb6b1776?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/70913a04-baa7-0c26-0e45-004fdb6b1776?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/70913a04-baa7-0c26-0e45-004fdb6b1776","name":"70913a04-baa7-0c26-0e45-004fdb6b1776","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/70913a04-baa7-0c26-0e45-004fdb6b1776?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-27T01:18:00+00:00","endpoint":"https://featurefiltertesty2ochaf.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurefiltertesty2ochaf","name":"FeatureFilterTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"190176e5-0000-0100-0000-5d8d63480000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"4vt5-l0-s0:6eCqLRLXe5cWlIVD9jV7","name":"Primary","value":"Fndmwl5WTS0qZdvgyA5FCmh+rF3gTq5GZu1El5CWhnc=","connectionString":"Endpoint=https://featurefiltertesty2ochaf.azconfig.io;Id=4vt5-l0-s0:6eCqLRLXe5cWlIVD9jV7;Secret=Fndmwl5WTS0qZdvgyA5FCmh+rF3gTq5GZu1El5CWhnc=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":false},{"id":"18VQ-l0-s0:NxHKR/FjSSYYEBDslmkJ","name":"Secondary","value":"mm87w+cOoravzjCg+5kzZ9OgBAf1D9w4XAF9+MBfCEM=","connectionString":"Endpoint=https://featurefiltertesty2ochaf.azconfig.io;Id=18VQ-l0-s0:NxHKR/FjSSYYEBDslmkJ;Secret=mm87w+cOoravzjCg+5kzZ9OgBAf1D9w4XAF9+MBfCEM=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":false},{"id":"F7LJ-l0-s0:kkuoyIPtlqmisDhv2CMJ","name":"Primary
        Read Only","value":"Rv42a4JS7L215lIJGBLTwR+RMKGGCs1pIIi3CA7np84=","connectionString":"Endpoint=https://featurefiltertesty2ochaf.azconfig.io;Id=F7LJ-l0-s0:kkuoyIPtlqmisDhv2CMJ;Secret=Rv42a4JS7L215lIJGBLTwR+RMKGGCs1pIIi3CA7np84=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":true},{"id":"T/ue-l0-s0:arGQ2rDK3U/nSS1CtwHO","name":"Secondary
        Read Only","value":"CHCqOPgmppXJa2DaIEVpnGMf2QzqSVEVhKUPS6D3wAE=","connectionString":"Endpoint=https://featurefiltertesty2ochaf.azconfig.io;Id=T/ue-l0-s0:arGQ2rDK3U/nSS1CtwHO;Secret=CHCqOPgmppXJa2DaIEVpnGMf2QzqSVEVhKUPS6D3wAE=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:12 GMT
    method: GET
    uri: https://featurefiltertesty2ochaf.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Color\", \"description\": null, \"enabled\": false, \"label\":
      \"Standard\", \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - rmaEbXCnxZg/Y916PgS5BygdBObCH7K8idm75ZURhf0=
      x-ms-date:
      - Sep, 27 2019 01:18:13 GMT
    method: PUT
    uri: https://featurefiltertesty2ochaf.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard
  response:
    body:
      string: '{"etag":"Ft0TgC2zdl25xyuLBV5GHfbdsGL","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": null, \"enabled\": false, \"label\": \"Standard\",
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Ft0TgC2zdl25xyuLBV5GHfbdsGL"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:13 GMT
      sync-token:
      - zAJw6V16=NDotMSM1ODI4MDQ=;sn=582804
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Color\", \"description\": null, \"enabled\": false, \"label\":
      \"Standard\", \"conditions\": {\"client_filters\": [{\"name\": \"FirstFilter\",
      \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\",
      \"Name3\": \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}}]}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"Ft0TgC2zdl25xyuLBV5GHfbdsGL"'
      x-ms-content-sha256:
      - ebSeH8Qnmf23k8iA5hEN6YDsTipxsrlwgc1rUwxMC2M=
      x-ms-date:
      - Sep, 27 2019 01:18:15 GMT
    method: PUT
    uri: https://featurefiltertesty2ochaf.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard
  response:
    body:
      string: '{"etag":"cHM1DyiQP3vyDmZUj04qWJTyYzZ","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": null, \"enabled\": false, \"label\": \"Standard\",
        \"conditions\": {\"client_filters\": [{\"name\": \"FirstFilter\", \"parameters\":
        {\"Name1\": [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\", \"Name3\":
        \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}}]}}","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"cHM1DyiQP3vyDmZUj04qWJTyYzZ"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:15 GMT
      sync-token:
      - zAJw6V16=NDotMSM1ODI4MDU=;sn=582805
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Color\", \"description\": null, \"enabled\": false, \"label\":
      \"Standard\", \"conditions\": {\"client_filters\": [{\"name\": \"FirstFilter\",
      \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\",
      \"Name3\": \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}}, {\"name\": \"SecondFilter\",
      \"parameters\": {\"Foo\": \"Bar=value\", \"name\": \"Foo=Bar\", \"{\\\"Value\\\":\\\"50\\\",\\\"SecondValue\\\":\\\"75\\\"}\":
      \"ParamNameIsJsonString\"}}]}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"cHM1DyiQP3vyDmZUj04qWJTyYzZ"'
      x-ms-content-sha256:
      - 9sSresrIM9UAcxs7Qb1EwlAJD7klmRr8DjilVYbVW5Q=
      x-ms-date:
      - Sep, 27 2019 01:18:17 GMT
    method: PUT
    uri: https://featurefiltertesty2ochaf.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard
  response:
    body:
      string: '{"et[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:36 GMT
    method: GET
    uri: https://featurefiltertesty2ochaf.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&fields=
  response:
    body:
      string: '{"etag":"4Em7Qn8tW2kmyInvW8Qx8F8gpbl","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": null, \"enabled\": true, \"label\": \"Standard\",
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:33+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"4Em7Qn8tW2kmyInvW8Qx8F8gpbl"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:33 GMT
      sync-token:
      - zAJw6V16=NDotMSM1ODI4MTA=;sn=582810
    status:
      code: 200
      message: OK
version: 1
