interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Free"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-01-08T00:36:24.1032227+00:00","endpoint":"https://ImportTest000002.azconfig.io"},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a36183e4-0c13-3f4c-dc40-9d6fb18b736a?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a36183e4-0c13-3f4c-dc40-9d6fb18b736a?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a36183e4-0c13-3f4c-dc40-9d6fb18b736a","name":"a36183e4-0c13-3f4c-dc40-9d6fb18b736a","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a36183e4-0c13-3f4c-dc40-9d6fb18b736a?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-01-08T00:36:25+00:00","endpoint":"https://importtestrum6kuqpuhvdnb.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtestrum6kuqpuhvdnb","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2f00f51f-0000-0100-0000-5e1524090000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/conf[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002/ListKeys?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"IwYa-l0-s0:bokCwG9AUQWvlGQvGXcA","name":"Primary","value":"1hChGt8mNRD1IvRTznTwsgaFKHczG8Lxef15I9UPUs0=","connectionString":"Endpoint=https://importtestrum6kuqpuhvdnb.azconfig.io;Id=IwYa-l0-s0:bokCwG9AUQWvlGQvGXcA;Secret=1hChGt8mNRD1IvRTznTwsgaFKHczG8Lxef15I9UPUs0=","lastModified":"2020-01-08T00:36:25+00:00","readOnly":false},{"id":"PhL/-l0-s0:VyGUusI3U409S+4Odo3H","name":"Secondary","value":"vDsdQyknIbjMy43wwgsxKFNtUDP3T5FcZwizIT9BADk=","connectionString":"Endpoint=https://importtestrum6kuqpuhvdnb.azconfig.io;Id=PhL/-l0-s0:VyGUusI3U409S+4Odo3H;Secret=vDsdQyknIbjMy43wwgsxKFNtUDP3T5FcZwizIT9BADk=","lastModified":"2020-01-08T00:36:25+00:00","readOnly":false},{"id":"feDt-l0-s0:zwYx0nq5BOqlPKe3K1n6","name":"Primary
        Read Only","value":"bmBBPGV5hf7c0GLSm0XT4U/I2l7ezCsRM6/Xg0Is8pU=","connectionString":"Endpoint=https://importtestrum6kuqpuhvdnb.azconfig.io;Id=feDt-l0-s0:zwYx0nq5BOqlPKe3K1n6;Secret=bmBBPGV5hf7c0GLSm0XT4U/I2l7ezCsRM6/Xg0Is8pU=","lastModified":"2020-01-08T00:36:25+00:00","readOnly":true},{"id":"xIxe-l0-s0:bA2GGdYmO+qVgj9Eofbb","name":"Secondary
        Read Only","value":"vaZQK6WQF3QcgbZNPG/yJ03NZuUTM2AGKtH7Fzlh6yk=","connectionString":"Endpoint=https://importtestrum6kuqpuhvdnb.azconfig.io;Id=xIxe-l0-s0:bA2GGdYmO+qVgj9Eofbb;Secret=vaZQK6WQF3QcgbZNPG/yJ03NZuUTM2AGKtH7Fzlh6yk=","lastModified":"2020-01-08T00:36:25+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PC7Oups+djhN5P7VQ1nKd7CVH/2pq7P0uo6Aa0psTpU=
      x-ms-date:
      - Jan, 08 2020 00:36:41 GMT
    method: PUT
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv/BackgroundColor?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"AzSGG8jmzhsqfvnFIbztyVkrAZS","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2020-01-08T00:36:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"AzSGG8jmzhsqfvnFIbztyVkrAZS"'
      last-modified:
      - Wed, 08 Jan 2020 00:36:42 GMT
      sync-token:
      - zAJw6V16=MzotMSM4Mzg3MDM=;sn=838703
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Jan, 08 2020 00:36:42 GMT
    method: PUT
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv/Language?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"dKENadpWwFtaG7w7FkALxolWMCy","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2020-01-08T00:36:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"dKENadpWwFtaG7w7FkALxolWMCy"'
      last-modified:
      - Wed, 08 Jan 2020 00:36:42 GMT
      sync-token:
      - zAJw6V16=MzotMSM4Mzg3MDQ=;sn=838704
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "English", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - QDILjzOgYSWGZAvsE9UaVqAJAXrmdhxSGLxa6xdkdlc=
      x-ms-date:
      - Jan, 08 2020 00:36:42 GMT
    method: PUT
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv/Langugage?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"8dJdRMhaaGRKJc4rWYxIImFZ6DP","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modified":"2020-01-08T00:36:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"8dJdRMhaaGRKJc4rWYxIImFZ6DP"'
      last-modified:
      - Wed, 08 Jan 2020 00:36:42 GMT
      sync-token:
      - zAJw6V16=MzotMSM4Mzg3MDU=;sn=838705
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "Acura", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - IomN0TxyiknCeMpyC9pXASukPxU1uGXMZ2p0dSc7RkY=
      x-ms-date:
      - Jan, 08 2020 00:36:42 GMT
    method: PUT
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv/Settings%3ABackgroundColor%2Fcars%2FToyota?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"IwlypcPVjac9ANr4HPliZ6LKn76","key":"Settings:BackgroundColor/cars/Toyota","label":null,"content_type":null,"value":"Acura","tags":{},"locked":false,"last_modified":"2020-01-08T00:36:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"IwlypcPVjac9ANr4HPliZ6LKn76"'
      last-modified:
      - Wed, 08 Jan 2020 00:36:42 GMT
      sync-token:
      - zAJw6V16=MzotMSM4Mzg3MDY=;sn=838706
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "ship1", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 6JYPAMdWKB1Nq3JlkewuuL6gv8n/h5LcsstlSTBiS2U=
      x-ms-date:
      - Jan, 08 2020 00:36:42 GMT
    method: PUT
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv/Settings%3ABackgroundColor%2Fship%2F0?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"Fo2WuK2VNglp7WglcHbhUoqVVjz","key":"Settings:BackgroundColor/ship/0","label":null,"content_type":null,"value":"ship1","tags":{},"locked":false,"last_modified":"2020-01-08T00:36:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Fo2WuK2VNglp7WglcHbhUoqVVjz"'
      last-modified:
      - Wed, 08 Jan 2020 00:36:42 GMT
      sync-token:
      - zAJw6V16=MzotMSM4Mzg3MDc=;sn=838707
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Jan, 08 2020 00:36:42 GMT
    method: PUT
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv/abc?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"yHNxU76Xf1OwZXQrCZCYcH1tpnd","key":"abc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2020-01-08T00:36:43+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"yHNxU76Xf1OwZXQrCZCYcH1tpnd"'
      last-modified:
      - Wed, 08 Jan 2020 00:36:43 GMT
      sync-token:
      - zAJw6V16=MzotMSM4Mzg3MTA=;sn=838710
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Jan, 08 2020 00:36:42 GMT
    method: PUT
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv/appabc?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"oIZjB4yno15BUFe6lOFfMx9KOls","key":"appabc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2020-01-08T00:36:43+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"oIZjB4yno15BUFe6lOFfMx9KOls"'
      last-modified:
      - Wed, 08 Jan 2020 00:36:43 GMT
      sync-token:
      - zAJw6V16=MzotMSM4Mzg3MTE=;sn=838711
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "black", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 3zRtmzsbtz/bO3WpX/Lz50BMrJsDVg75l44KhYt3GGo=
      x-ms-date:
      - Jan, 08 2020 00:36:42 GMT
    method: PUT
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv/background-color?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"jPNqqnMLBpQRJ99oXhrYDb6l5kG","key":"background-color","label":null,"content_type":null,"value":"black","tags":{},"locked":false,"last_modified":"2020-01-08T00:36:43+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"jPNqqnMLBpQRJ99oXhrYDb6l5kG"'
      last-modified:
      - Wed, 08 Jan 2020 00:36:43 GMT
      sync-token:
      - zAJw6V16=MzotMSM4Mzg3MTI=;sn=838712
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "34", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - RYAiemxYAA9E5VcODQIuKsC6SG3KVPkcm0TOHEMaaek=
      x-ms-date:
      - Jan, 08 2020 00:36:42 GMT
    method: PUT
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv/font-size?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"poulzB8Tky3zmvdFQE7N7Sdkx7n","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2020-01-08T00:36:43+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"poulzB8Tky3zmvdFQE7N7Sdkx7n"'
      last-modified:
      - Wed, 08 Jan 2020 00:36:43 GMT
      sync-token:
      - zAJw6V16=MzotMSM4Mzg3MTM=;sn=838713
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Jan, 08 2020 00:36:43 GMT
    method: PUT
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv/language?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"A49GQj8mXrt9104kHx45M45LsVe","key":"language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2020-01-08T00:36:43+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"A49GQj8mXrt9104kHx45M45LsVe"'
      last-modified:
      - Wed, 08 Jan 2020 00:36:43 GMT
      sync-token:
      - zAJw6V16=MzotMSM4Mzg3MTQ=;sn=838714
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 08 2020 00:36:49 GMT
    method: GET
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv?key=*&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"AzSGG8jmzhsqfvnFIbztyVkrAZS","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2020-01-08T00:36:42+00:00"},{"etag":"dKENadpWwFtaG7w7FkALxolWMCy","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2020-01-08T00:36:42+00:00"},{"etag":"8dJdRMhaaGRKJc4rWYxIImFZ6DP","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modifi[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 08 2020 00:36:56 GMT
    method: GET
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1sT9hxGuBAZWDoyiQ2TpFhUO9+AUxgExwmjgAvoxfG0=
      x-ms-date:
      - Jan, 08 2020 00:36:58 GMT
    method: PUT
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv/Color?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"cRXxpfReXNl9D1ZdvJ2DyQxuwfI","key":"Color","label":"KeyValuesWithFeatures","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-01-08T00:36:58+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"cRXxpfReXNl9D1ZdvJ2DyQxuwfI"'
      last-modified:
      - Wed, 08 Jan 2020 00:36:58 GMT
      sync-token:
      - zAJw6V16=MzotMSM4Mzg3MTU=;sn=838715
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "West US", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - dVGtdf9bjCCVobdtBrdhoDNvcauYFDir6ZhxPZkvVHE=
      x-ms-date:
      - Jan, 08 2020 00:36:58 GMT
    method: PUT
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv/Region?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"IP245oZCSYFjJ0103yE3RRfezFl","key":"Region","label":"KeyValuesWithFeatures","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-01-08T00:36:59+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"IP245oZCSYFjJ0103yE3RRfezFl"'
      last-modified:
      - Wed, 08 Jan 2020 00:36:59 GMT
      sync-token:
      - zAJw6V16=MzotMSM4Mzg3MTY=;sn=838716
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - smMe5jbDoK81kykMdQf+ABS9IQyP84wxhjeykK9Pqt4=
      x-ms-date:
      - Jan, 08 2020 00:36:58 GMT
    method: PUT
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"0qhFUHHuK3Ug6pm517a5F9kabvp","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-01-08T00:36:59+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"0qhFUHHuK3Ug6pm517a5F9kabvp"'
      last-modified:
      - Wed, 08 Jan 2020 00:36:59 GMT
      sync-token:
      - zAJw6V16=MzotMSM4Mzg3MTc=;sn=838717
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Percentage\", \"description\": null, \"enabled\": true,
      \"conditions\": {\"client_filters\": []}}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - WBgv2yHAQusEJjAEfNxX3Z+pzUptTv2n3pjwT9EM+UM=
      x-ms-date:
      - Jan, 08 2020 00:36:58 GMT
    method: PUT
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv/.appconfig.featureflag%2FPercentage?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"173Gojc0jl1hqQsRbngdFcVC4aH","key":".appconfig.featureflag/Percentage","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Percentage\", \"description\": null, \"enabled\": true, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2020-01-08T00:36:59+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"173Gojc0jl1hqQsRbngdFcVC4aH"'
      last-modified:
      - Wed, 08 Jan 2020 00:36:59 GMT
      sync-token:
      - zAJw6V16=MzotMSM4Mzg3MTg=;sn=838718
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": null, \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - U/vcuIdXDVYjNR0o/cDmtKc+G8Kri6T6CtIaHnMo9Kg=
      x-ms-date:
      - Jan, 08 2020 00:36:58 GMT
    method: PUT
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv/.appconfig.feature[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 08 2020 00:37:05 GMT
    method: GET
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv?key=*&label=KeyValuesWithFeatures&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"0qhFUHHuK3Ug6pm517a5F9kabvp","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appc[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 08 2020 00:37:12 GMT
    method: GET
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=KeyValuesWithFeatures&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"0qhFUHHuK3Ug6pm517a5F9kabvp","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"app[...]
[...]
- request:
    body: '{"content_type": null, "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1sT9hxGuBAZWDoyiQ2TpFhUO9+AUxgExwmjgAvoxfG0=
      x-ms-date:
      - Jan, 08 2020 00:37:21 GMT
    method: PUT
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv/Color?label=SkipFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"6xPM3yVFgjh6YRqnCmISz0rMj5G","key":"Color","label":"SkipFeatures","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-01-08T00:37:22+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"6xPM3yVFgjh6YRqnCmISz0rMj5G"'
      last-modified:
      - Wed, 08 Jan 2020 00:37:22 GMT
      sync-token:
      - zAJw6V16=MzotMSM4Mzg3MjA=;sn=838720
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "West US", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - dVGtdf9bjCCVobdtBrdhoDNvcauYFDir6ZhxPZkvVHE=
      x-ms-date:
      - Jan, 08 2020 00:37:21 GMT
    method: PUT
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv/Region?label=SkipFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"1x5FupPIOkNCWzZ1R2UW6PCXi7W","key":"Region","label":"SkipFeatures","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-01-08T00:37:22+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1x5FupPIOkNCWzZ1R2UW6PCXi7W"'
      last-modified:
      - Wed, 08 Jan 2020 00:37:22 GMT
      sync-token:
      - zAJw6V16=MzotMSM4Mzg3MjE=;sn=838721
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 08 2020 00:37:28 GMT
    method: GET
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv?key=*&label=SkipFeatures&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"6xPM3yVFgjh6YRqnCmISz0rMj5G","key":"Color","label":"SkipFeatures","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-01-08T00:37:22+00:00"},{"etag":"1x5FupPIOkNCWzZ1R2UW6PCXi7W","key":"Region","label":"SkipFeatures","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-01-08T00:37:22+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM4Mzg3MjE=;sn=838721
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 08 2020 00:37:29 GMT
    method: GET
    uri: https://importtestrum6kuqpuhvdnb.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=SkipFeatures&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
