interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-27T01:17:59.9901479+00:00","endpoint":"https://FeatureTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002","name":"FeatureTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2ff307e6-33b6-72ff-2fc3-fc3443b15c3c?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2ff307e6-33b6-72ff-2fc3-fc3443b15c3c?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2ff307e6-33b6-72ff-2fc3-fc3443b15c3c","name":"2ff307e6-33b6-72ff-2fc3-fc3443b15c3c","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2ff307e6-33b6-72ff-2fc3-fc3443b15c3c?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-27T01:18:00+00:00","endpoint":"https://featuretestmzpeuipgo5tdz.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featuretestmzpeuipgo5tdz","name":"FeatureTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"190177e5-0000-0100-0000-5d8d63480000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"rSZ5-l0-s0:fs9x2hgJURTRPhjsMsk1","name":"Primary","value":"znE/st3sK8vMIwMW7W94234LQnGHiOLSZ5unYUz7VpI=","connectionString":"Endpoint=https://featuretestmzpeuipgo5tdz.azconfig.io;Id=rSZ5-l0-s0:fs9x2hgJURTRPhjsMsk1;Secret=znE/st3sK8vMIwMW7W94234LQnGHiOLSZ5unYUz7VpI=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":false},{"id":"9/YM-l0-s0:ye1HiG6ry1Yfo10tcJIE","name":"Secondary","value":"VXwrs5a/5JK9gOWIRyy24V8yABOpvNCo5BdHwaMU/rY=","connectionString":"Endpoint=https://featuretestmzpeuipgo5tdz.azconfig.io;Id=9/YM-l0-s0:ye1HiG6ry1Yfo10tcJIE;Secret=VXwrs5a/5JK9gOWIRyy24V8yABOpvNCo5BdHwaMU/rY=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":false},{"id":"Chk3-l0-s0:4jBGVfCrBV/v+wJG3EwN","name":"Primary
        Read Only","value":"NYEnIMZlftsQkLPfB4Hxp3IPIYoeEzD6YLQnUle0vrU=","connectionString":"Endpoint=https://featuretestmzpeuipgo5tdz.azconfig.io;Id=Chk3-l0-s0:4jBGVfCrBV/v+wJG3EwN;Secret=NYEnIMZlftsQkLPfB4Hxp3IPIYoeEzD6YLQnUle0vrU=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":true},{"id":"ewUD-l0-s0:hgsvTVlN+ToOg1818DLZ","name":"Secondary
        Read Only","value":"iTrGf0hKqjPEknw2O5L1THeQC7g8xmaSaWTnYnSA2f8=","connectionString":"Endpoint=https://featuretestmzpeuipgo5tdz.azconfig.io;Id=ewUD-l0-s0:hgsvTVlN+ToOg1818DLZ;Secret=iTrGf0hKqjPEknw2O5L1THeQC7g8xmaSaWTnYnSA2f8=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:12 GMT
    method: GET
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"label\":
      \"v1\", \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - LGAOlGD778BU8ExA/MNA5BynjK7D6dfbxMNH1sl1puY=
      x-ms-date:
      - Sep, 27 2019 01:18:13 GMT
    method: PUT
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1
  response:
    body:
      string: '{"etag":"bTIVWJL7Dpn3DzpUpeHIfhy8ZM5","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"label\": \"v1\", \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"bTIVWJL7Dpn3DzpUpeHIfhy8ZM5"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:13 GMT
      sync-token:
      - zAJw6V16=OTotMSM0MDgxOTQ=;sn=408194
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"Beta Testing Feature Flag\",
      \"enabled\": false, \"label\": \"v1\", \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"bTIVWJL7Dpn3DzpUpeHIfhy8ZM5"'
      x-ms-content-sha256:
      - JzWMGd7OXBERJW9okGz/qTjJbg5GwyxsGWLmpLrUAwA=
      x-ms-date:
      - Sep, 27 2019 01:18:15 GMT
    method: PUT
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1
  response:
    body:
      string: '{"etag":"6AusJQBRvTqWGmOi3apXB96Bs56","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v1\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"6AusJQBRvTqWGmOi3apXB96Bs56"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:15 GMT
      sync-token:
      - zAJw6V16=OTotMSM0MDgxOTU=;sn=408195
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:24 GMT
    method: GET
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&fields=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:26 GMT
    method: GET
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"6AusJQBRvTqWGmOi3apXB96Bs56","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v1\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:15+00:00"},{"etag":"VuOjhHY9jCMFGtT0z5qSEFXLPYK","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v2\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:19+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=OTotMSM0MDgxOTc=;sn=408197
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:28 GMT
    method: GET
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv/.appconfig.featureflag%2FBetaPrefix?label=&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"BetaPrefix\", \"description\": null, \"enabled\": false,
      \"label\": null, \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - 0ep6Aq/9a0raS0R/HE5aoeLND4sHw8NpLsBlV7ceJ7E=
      x-ms-date:
      - Sep, 27 2019 01:18:28 GMT
    method: PUT
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv/.appconfig.featureflag%2FBetaPrefix?label=
  response:
    body:
      string: '{"etag":"AGOIovDoW8m4B8Uo9X8XEwZB9Dp","key":".appconfig.featureflag/BetaPrefix","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"BetaPrefix\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:29+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"AGOIovDoW8m4B8Uo9X8XEwZB9Dp"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:29 GMT
      sync-token:
      - zAJw6V16=OTotMSM0MDgxOTg=;sn=408198
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:29 GMT
    method: GET
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv/.appconfig.featureflag%2FSuffixBeta?label=&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"SuffixBeta\", \"description\": null, \"enabled\": false,
      \"label\": null, \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - 3eFtzVQAJ0X/0QYfWqYucuZMc6O55Mqk5O1R3/WDQic=
      x-ms-date:
      - Sep, 27 2019 01:18:30 GMT
    method: PUT
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv/.appconfig.featureflag%2FSuffixBeta?label=
  response:
    body:
      string: '{"etag":"NjjpC7lj5cWrCBW2cbIggiuTNL2","key":".appconfig.featureflag/SuffixBeta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"SuffixBeta\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"NjjpC7lj5cWrCBW2cbIggiuTNL2"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:30 GMT
      sync-token:
      - zAJw6V16=OTotMSM0MDgxOTk=;sn=408199
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:31 GMT
    method: GET
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv/.appconfig.featureflag%2FThisBetaVersion?label=&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"ThisBetaVersion\", \"description\": null, \"enabled\":
      false, \"label\": null, \"conditions\": {\"client_filters\": []}}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - IYpSllO8xrKij0XGTGMp7s2pIIe+Bm2JcTnaY0QYrzQ=
      x-ms-date:
      - Sep, 27 2019 01:18:32 GMT
    method: PUT
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv/.appconfig.featureflag%2FThisBetaVersion?label=
  response:
    body:
      string: '{"etag":"bJ3AUq5rZCZeCfkTX29lbEw6jRu","key":".appconfig.featureflag/ThisBetaVersion","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"ThisBetaVersion\", \"description\": null, \"enabled\": false, \"label\":
        null, \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"bJ3AUq5rZCZeCfkTX29lbEw6jRu"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:32 GMT
      sync-token:
      - zAJw6V16=OTotMSM0MDgyMDA=;sn=408200
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:35 GMT
    method: GET
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv?key=.appconfig.featureflag%2FBeta%2A&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"6AusJQBRvTqWGmOi3apXB96Bs56","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:37 GMT
    method: GET
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv?key=.appconfig.featureflag%2FBeta%2A&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"AGOIovDoW8m4B8Uo9X8XEwZB9Dp","key":".appconfig.featureflag/BetaPrefix","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"BetaPrefix\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:29+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=OTotMSM0MDgyMDA=;sn=408200
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:39 GMT
    method: GET
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv?key=%2ABeta&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"6AusJQBRvTqWGmOi3apXB96Bs56","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:41 GMT
    method: GET
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv?key=%2ABeta&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"NjjpC7lj5cWrCBW2cbIggiuTNL2","key":".appconfig.featureflag/SuffixBeta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"SuffixBeta\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:30+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=OTotMSM0MDgyMDA=;sn=408200
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:42 GMT
    method: GET
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv?key=%2ABeta%2A&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"6AusJQBRvTqWGmOi3apXB96Bs56","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:43 GMT
    method: GET
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv?key=%2ABeta%2A&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"AGOIovDoW8m4B8Uo9X8XEwZB9Dp","key":".appconfig.featureflag/BetaPrefix","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:45 GMT
    method: GET
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv?key=.appconfig.featureflag%2FBeta%2Aion&label=%00&fields=
  response:
    body:
      string: '{"type":"https://azconfig.io/errors/invalid-argument","title":"Invalid
        request parameter ''key''","name":"key","detail":"key(27): Invalid character","pos":27,"status":400}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:47 GMT
    method: GET
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/kv?key=.appconfig.featureflag%2FBeta&label=v2&fields=
  response:
    body:
      string: '{"items":[{"etag":"VuOjhHY9jCMFGtT0z5qSEFXLPYK","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v2\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:19+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=OTotMSM0MDgyMDA=;sn=408200
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"bJ3AUq5rZCZeCfkTX29lbEw6jRu"'
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:50 GMT
    method: PUT
    uri: https://featuretestmzpeuipgo5tdz.azconfig.io/locks/.appconfig.featureflag%2FThisBetaVersion?label=
  response:
    body:
      string: '{"etag":"coHDYZN6VCioyCgKA5Q3OK7oo1v","key":".appconfig.featureflag/ThisBetaVersion","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"ThisBetaVersion\", \"description\": null, \"enabled\": false, \"label\":
        null, \"conditions\": {\"client_filters\": []}}","tags":{},"locked":true,"last_modified":"2019-09-27T01:18:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"coHDYZN6VCioyCgKA5Q3OK7oo1v"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:50 GMT
      sync-token:
      - zAJw6V16=OTotMSM0MDgyMDQ=;sn=408204
    status:
      code: 200
      message: OK
[...]
