interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-28T02:24:42.0144021+00:00","endpoint":"https://FeatureTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002","name":"FeatureTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/769e7d25-ffb8-2170-3d8b-4c2007b78b7e?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/769e7d25-ffb8-2170-3d8b-4c2007b78b7e?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/769e7d25-ffb8-2170-3d8b-4c2007b78b7e","name":"769e7d25-ffb8-2170-3d8b-4c2007b78b7e","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/769e7d25-ffb8-2170-3d8b-4c2007b78b7e?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-28T02:24:43+00:00","endpoint":"https://featuretestdlsq2xsozzo4a.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featuretestdlsq2xsozzo4a","name":"FeatureTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2d010d48-0000-0100-0000-5d8ec46b0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"sCWv-l0-s0:BqgTHjjCWXbmLB2sXWqL","name":"Primary","value":"2FZ+k4KajY+g2E6Cd+QTSAgDcUtm5OQNCeaivhLwF28=","connectionString":"Endpoint=https://featuretestdlsq2xsozzo4a.azconfig.io;Id=sCWv-l0-s0:BqgTHjjCWXbmLB2sXWqL;Secret=2FZ+k4KajY+g2E6Cd+QTSAgDcUtm5OQNCeaivhLwF28=","lastModified":"2019-09-28T02:24:42+00:00","readOnly":false},{"id":"7Oq1-l0-s0:PCKJXyAcvJFTOoFYSWxi","name":"Secondary","value":"/IaYb6n6aKefMYpbyNDA9aD5tzEg9TM0M391pszwVbI=","connectionString":"Endpoint=https://featuretestdlsq2xsozzo4a.azconfig.io;Id=7Oq1-l0-s0:PCKJXyAcvJFTOoFYSWxi;Secret=/IaYb6n6aKefMYpbyNDA9aD5tzEg9TM0M391pszwVbI=","lastModified":"2019-09-28T02:24:42+00:00","readOnly":false},{"id":"kJb1-l0-s0:deGWhaqR8PgTropWEH06","name":"Primary
        Read Only","value":"VUT3xmX+Tj/XO6fqAIa1LxxMNxNCPnqEy7NUH65lkKk=","connectionString":"Endpoint=https://featuretestdlsq2xsozzo4a.azconfig.io;Id=kJb1-l0-s0:deGWhaqR8PgTropWEH06;Secret=VUT3xmX+Tj/XO6fqAIa1LxxMNxNCPnqEy7NUH65lkKk=","lastModified":"2019-09-28T02:24:42+00:00","readOnly":true},{"id":"c6KM-l0-s0:xFjY4EKoN8gOobTmmtSz","name":"Secondary
        Read Only","value":"HEJRP4Ds/QFNJd4aKm7nvbLkhRwdRPhWoRSEjve3fg8=","connectionString":"Endpoint=https://featuretestdlsq2xsozzo4a.azconfig.io;Id=c6KM-l0-s0:xFjY4EKoN8gOobTmmtSz;Secret=HEJRP4Ds/QFNJd4aKm7nvbLkhRwdRPhWoRSEjve3fg8=","lastModified":"2019-09-28T02:24:42+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:24:55 GMT
    method: GET
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"label\":
      \"v1\", \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - LGAOlGD778BU8ExA/MNA5BynjK7D6dfbxMNH1sl1puY=
      x-ms-date:
      - Sep, 28 2019 02:24:55 GMT
    method: PUT
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1
  response:
    body:
      string: '{"etag":"oS1yuMGJJJR3Zf7uJFqHxSGMVgl","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"label\": \"v1\", \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:56+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"oS1yuMGJJJR3Zf7uJFqHxSGMVgl"'
      last-modified:
      - Sat, 28 Sep 2019 02:24:56 GMT
      sync-token:
      - zAJw6V16=MzotMSM0NTA0MzE=;sn=450431
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"Beta Testing Feature Flag\",
      \"enabled\": false, \"label\": \"v1\", \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"oS1yuMGJJJR3Zf7uJFqHxSGMVgl"'
      x-ms-content-sha256:
      - JzWMGd7OXBERJW9okGz/qTjJbg5GwyxsGWLmpLrUAwA=
      x-ms-date:
      - Sep, 28 2019 02:24:57 GMT
    method: PUT
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1
  response:
    body:
      string: '{"etag":"A3EgipKTrlz93bo5aNAwH4IM3k4","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v1\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:58+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"A3EgipKTrlz93bo5aNAwH4IM3k4"'
      last-modified:
      - Sat, 28 Sep 2019 02:24:58 GMT
      sync-token:
      - zAJw6V16=MzotMSM0NTA0MzI=;sn=450432
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:06 GMT
    method: GET
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&fields=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:07 GMT
    method: GET
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"A3EgipKTrlz93bo5aNAwH4IM3k4","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v1\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:58+00:00"},{"etag":"5OqosCp1rr4m8fwyAJO519uq2RH","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v2\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-28T02:25:02+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM0NTA0NDA=;sn=450440
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:09 GMT
    method: GET
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv/.appconfig.featureflag%2FBetaPrefix?label=&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"BetaPrefix\", \"description\": null, \"enabled\": false,
      \"label\": null, \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - 0ep6Aq/9a0raS0R/HE5aoeLND4sHw8NpLsBlV7ceJ7E=
      x-ms-date:
      - Sep, 28 2019 02:25:09 GMT
    method: PUT
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv/.appconfig.featureflag%2FBetaPrefix?label=
  response:
    body:
      string: '{"etag":"lVKYUe6tLjb8khjp8fAPfdgToYj","key":".appconfig.featureflag/BetaPrefix","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"BetaPrefix\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-28T02:25:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"lVKYUe6tLjb8khjp8fAPfdgToYj"'
      last-modified:
      - Sat, 28 Sep 2019 02:25:10 GMT
      sync-token:
      - zAJw6V16=MzotMSM0NTA0NDE=;sn=450441
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:11 GMT
    method: GET
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv/.appconfig.featureflag%2FSuffixBeta?label=&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"SuffixBeta\", \"description\": null, \"enabled\": false,
      \"label\": null, \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - 3eFtzVQAJ0X/0QYfWqYucuZMc6O55Mqk5O1R3/WDQic=
      x-ms-date:
      - Sep, 28 2019 02:25:11 GMT
    method: PUT
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv/.appconfig.featureflag%2FSuffixBeta?label=
  response:
    body:
      string: '{"etag":"4XCRQh4kkiZojCLDPySx0XvVumH","key":".appconfig.featureflag/SuffixBeta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"SuffixBeta\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-28T02:25:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"4XCRQh4kkiZojCLDPySx0XvVumH"'
      last-modified:
      - Sat, 28 Sep 2019 02:25:11 GMT
      sync-token:
      - zAJw6V16=MzotMSM0NTA0NDM=;sn=450443
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:13 GMT
    method: GET
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv/.appconfig.featureflag%2FThisBetaVersion?label=&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"ThisBetaVersion\", \"description\": null, \"enabled\":
      false, \"label\": null, \"conditions\": {\"client_filters\": []}}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - IYpSllO8xrKij0XGTGMp7s2pIIe+Bm2JcTnaY0QYrzQ=
      x-ms-date:
      - Sep, 28 2019 02:25:13 GMT
    method: PUT
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv/.appconfig.featureflag%2FThisBetaVersion?label=
  response:
    body:
      string: '{"etag":"1C9iDvcUjVh7XP3MGmCwuaq6YBv","key":".appconfig.featureflag/ThisBetaVersion","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"ThisBetaVersion\", \"description\": null, \"enabled\": false, \"label\":
        null, \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-28T02:25:14+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1C9iDvcUjVh7XP3MGmCwuaq6YBv"'
      last-modified:
      - Sat, 28 Sep 2019 02:25:14 GMT
      sync-token:
      - zAJw6V16=MzotMSM0NTA0NDU=;sn=450445
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:16 GMT
    method: GET
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv?key=.appconfig.featureflag%2FBeta%2A&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"A3EgipKTrlz93bo5aNAwH4IM3k4","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:17 GMT
    method: GET
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv?key=.appconfig.featureflag%2FBeta%2A&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"lVKYUe6tLjb8khjp8fAPfdgToYj","key":".appconfig.featureflag/BetaPrefix","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"BetaPrefix\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-28T02:25:10+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM0NTA0NDU=;sn=450445
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:19 GMT
    method: GET
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv?key=%2ABeta&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"A3EgipKTrlz93bo5aNAwH4IM3k4","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:20 GMT
    method: GET
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv?key=%2ABeta&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"4XCRQh4kkiZojCLDPySx0XvVumH","key":".appconfig.featureflag/SuffixBeta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"SuffixBeta\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-28T02:25:11+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM0NTA0NDU=;sn=450445
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:22 GMT
    method: GET
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv?key=%2ABeta%2A&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"A3EgipKTrlz93bo5aNAwH4IM3k4","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:23 GMT
    method: GET
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv?key=%2ABeta%2A&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"lVKYUe6tLjb8khjp8fAPfdgToYj","key":".appconfig.featureflag/BetaPrefix","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:26 GMT
    method: GET
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv?key=.appconfig.featureflag%2FBeta%2Aion&label=%00&fields=
  response:
    body:
      string: '{"type":"https://azconfig.io/errors/invalid-argument","title":"Invalid
        request parameter ''key''","name":"key","detail":"key(27): Invalid character","pos":27,"status":400}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:29 GMT
    method: GET
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/kv?key=.appconfig.featureflag%2FBeta&label=v2&fields=
  response:
    body:
      string: '{"items":[{"etag":"5OqosCp1rr4m8fwyAJO519uq2RH","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v2\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-28T02:25:02+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM0NTA0NDU=;sn=450445
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"1C9iDvcUjVh7XP3MGmCwuaq6YBv"'
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:25:32 GMT
    method: PUT
    uri: https://featuretestdlsq2xsozzo4a.azconfig.io/locks/.appconfig.featureflag%2FThisBetaVersion?label=
  response:
    body:
      string: '{"etag":"MzwXxkYONBCuKawtQJDfKGViYv0","key":".appconfig.featureflag/ThisBetaVersion","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"ThisBetaVersion\", \"description\": null, \"enabled\": false, \"label\":
        null, \"conditions\": {\"client_filters\": []}}","tags":{},"locked":true,"last_modified":"2019-09-28T02:25:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"MzwXxkYONBCuKawtQJDfKGViYv0"'
      last-modified:
      - Sat, 28 Sep 2019 02:25:32 GMT
      sync-token:
      - zAJw6V16=MzotMSM0NTA0NDk=;sn=450449
    status:
      code: 200
      message: OK
[...]
