interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-27T01:17:59.8891341+00:00","endpoint":"https://ImportTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/559c742d-8184-2bfa-39d8-f87f8c8821c2?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/559c742d-8184-2bfa-39d8-f87f8c8821c2?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/559c742d-8184-2bfa-39d8-f87f8c8821c2","name":"559c742d-8184-2bfa-39d8-f87f8c8821c2","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/559c742d-8184-2bfa-39d8-f87f8c8821c2?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-27T01:18:01+00:00","endpoint":"https://importtestae2rgczja323y2.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtestae2rgczja323y2","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"510021d6-0000-0100-0000-5d8d63480000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"HxC9-l0-s0:KKz/06cNxqpi0BxhTUyh","name":"Primary","value":"dm9WxIFlSZOavLJMIqd6xzwjfmwqc1+aD0VBeumLub0=","connectionString":"Endpoint=https://importtestae2rgczja323y2.azconfig.io;Id=HxC9-l0-s0:KKz/06cNxqpi0BxhTUyh;Secret=dm9WxIFlSZOavLJMIqd6xzwjfmwqc1+aD0VBeumLub0=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":false},{"id":"PIb2-l0-s0:8EZ333giKMgiWEBE7tIi","name":"Secondary","value":"khJuptM1ug7knzFtQArJlFYYtT3GHA+kTpG5VuN5blw=","connectionString":"Endpoint=https://importtestae2rgczja323y2.azconfig.io;Id=PIb2-l0-s0:8EZ333giKMgiWEBE7tIi;Secret=khJuptM1ug7knzFtQArJlFYYtT3GHA+kTpG5VuN5blw=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":false},{"id":"lI4o-l0-s0:pxf7+3a7AO3IsqFh4SNN","name":"Primary
        Read Only","value":"rTdsb0JC3H8c4pV3w8Ua4ucYiUOvV9jT6yBkQs/Qt7c=","connectionString":"Endpoint=https://importtestae2rgczja323y2.azconfig.io;Id=lI4o-l0-s0:pxf7+3a7AO3IsqFh4SNN;Secret=rTdsb0JC3H8c4pV3w8Ua4ucYiUOvV9jT6yBkQs/Qt7c=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":true},{"id":"0Kf/-l0-s0:BV6LW1n1KtwD2IHlyUdH","name":"Secondary
        Read Only","value":"GBs4Dm381AhUb3K3ChPB8huJ09A4wy/SYA5n4npGRzc=","connectionString":"Endpoint=https://importtestae2rgczja323y2.azconfig.io;Id=0Kf/-l0-s0:BV6LW1n1KtwD2IHlyUdH;Secret=GBs4Dm381AhUb3K3ChPB8huJ09A4wy/SYA5n4npGRzc=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PC7Oups+djhN5P7VQ1nKd7CVH/2pq7P0uo6Aa0psTpU=
      x-ms-date:
      - Sep, 27 2019 01:18:12 GMT
    method: PUT
    uri: https://importtestae2rgczja323y2.azconfig.io/kv/BackgroundColor?label=
  response:
    body:
      string: '{"etag":"NpgbIWsgJH7P0H8kgo2YK2vD5V7","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"NpgbIWsgJH7P0H8kgo2YK2vD5V7"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:13 GMT
      sync-token:
      - zAJw6V16=NzotMSM0MDMyNDY=;sn=403246
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Sep, 27 2019 01:18:13 GMT
    method: PUT
    uri: https://importtestae2rgczja323y2.azconfig.io/kv/Language?label=
  response:
    body:
      string: '{"etag":"ZxUrJ8WSir26VUWp85NSTRcXbG7","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ZxUrJ8WSir26VUWp85NSTRcXbG7"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:13 GMT
      sync-token:
      - zAJw6V16=NzotMSM0MDMyNDc=;sn=403247
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "English", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - QDILjzOgYSWGZAvsE9UaVqAJAXrmdhxSGLxa6xdkdlc=
      x-ms-date:
      - Sep, 27 2019 01:18:13 GMT
    method: PUT
    uri: https://importtestae2rgczja323y2.azconfig.io/kv/Langugage?label=
  response:
    body:
      string: '{"etag":"EYxj0B8MSqQyK9n7wa3eZGSyL8A","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"EYxj0B8MSqQyK9n7wa3eZGSyL8A"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:13 GMT
      sync-token:
      - zAJw6V16=NzotMSM0MDMyNDg=;sn=403248
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "Acura", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - IomN0TxyiknCeMpyC9pXASukPxU1uGXMZ2p0dSc7RkY=
      x-ms-date:
      - Sep, 27 2019 01:18:13 GMT
    method: PUT
    uri: https://importtestae2rgczja323y2.azconfig.io/kv/Settings%3ABackgroundColor%2Fcars%2FToyota?label=
  response:
    body:
      string: '{"etag":"GTTBRHBdVIoWx5NxMaZQc5aO9pE","key":"Settings:BackgroundColor/cars/Toyota","label":null,"content_type":null,"value":"Acura","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:14+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"GTTBRHBdVIoWx5NxMaZQc5aO9pE"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:14 GMT
      sync-token:
      - zAJw6V16=NzotMSM0MDMyNDk=;sn=403249
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "ship1", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 6JYPAMdWKB1Nq3JlkewuuL6gv8n/h5LcsstlSTBiS2U=
      x-ms-date:
      - Sep, 27 2019 01:18:13 GMT
    method: PUT
    uri: https://importtestae2rgczja323y2.azconfig.io/kv/Settings%3ABackgroundColor%2Fship%2F0?label=
  response:
    body:
      string: '{"etag":"vULEiMf5aIDXvnLSYNgxnIXx7GV","key":"Settings:BackgroundColor/ship/0","label":null,"content_type":null,"value":"ship1","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:14+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"vULEiMf5aIDXvnLSYNgxnIXx7GV"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:14 GMT
      sync-token:
      - zAJw6V16=NzotMSM0MDMyNTA=;sn=403250
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Sep, 27 2019 01:18:13 GMT
    method: PUT
    uri: https://importtestae2rgczja323y2.azconfig.io/kv/abc?label=
  response:
    body:
      string: '{"etag":"2ecatOhHErGR5fsxaHLnMzi4zmC","key":"abc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:14+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"2ecatOhHErGR5fsxaHLnMzi4zmC"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:14 GMT
      sync-token:
      - zAJw6V16=NzotMSM0MDMyNTM=;sn=403253
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Sep, 27 2019 01:18:13 GMT
    method: PUT
    uri: https://importtestae2rgczja323y2.azconfig.io/kv/appabc?label=
  response:
    body:
      string: '{"etag":"RImO61qlzC9R4VuwCU3LWQ5Kg3b","key":"appabc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:14+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"RImO61qlzC9R4VuwCU3LWQ5Kg3b"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:14 GMT
      sync-token:
      - zAJw6V16=NzotMSM0MDMyNTQ=;sn=403254
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "black", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 3zRtmzsbtz/bO3WpX/Lz50BMrJsDVg75l44KhYt3GGo=
      x-ms-date:
      - Sep, 27 2019 01:18:14 GMT
    method: PUT
    uri: https://importtestae2rgczja323y2.azconfig.io/kv/background-color?label=
  response:
    body:
      string: '{"etag":"WmHxO5qsFwiJdXE6us6NqhvyhTO","key":"background-color","label":null,"content_type":null,"value":"black","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:14+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"WmHxO5qsFwiJdXE6us6NqhvyhTO"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:14 GMT
      sync-token:
      - zAJw6V16=NzotMSM0MDMyNTU=;sn=403255
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "34", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - RYAiemxYAA9E5VcODQIuKsC6SG3KVPkcm0TOHEMaaek=
      x-ms-date:
      - Sep, 27 2019 01:18:14 GMT
    method: PUT
    uri: https://importtestae2rgczja323y2.azconfig.io/kv/font-size?label=
  response:
    body:
      string: '{"etag":"9XeKCfGHD6mGmn0INplgMZmsMA7","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:14+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"9XeKCfGHD6mGmn0INplgMZmsMA7"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:14 GMT
      sync-token:
      - zAJw6V16=NzotMSM0MDMyNTY=;sn=403256
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Sep, 27 2019 01:18:14 GMT
    method: PUT
    uri: https://importtestae2rgczja323y2.azconfig.io/kv/language?label=
  response:
    body:
      string: '{"etag":"OmHQYmF1QmerQTph8EIOR2uj3ez","key":"language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:14+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"OmHQYmF1QmerQTph8EIOR2uj3ez"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:14 GMT
      sync-token:
      - zAJw6V16=NzotMSM0MDMyNTc=;sn=403257
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:15 GMT
    method: GET
    uri: https://importtestae2rgczja323y2.azconfig.io/kv?key=*&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"NpgbIWsgJH7P0H8kgo2YK2vD5V7","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:13+00:00"},{"etag":"ZxUrJ8WSir26VUWp85NSTRcXbG7","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:13+00:00"},{"etag":"EYxj0B8MSqQyK9n7wa3eZGSyL8A","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modifi[...]
