interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-27T01:17:59.8657219+00:00","endpoint":"https://CredentialTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/f177ed59-4c98-4290-d6d4-181772b2cfe4?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/f177ed59-4c98-4290-d6d4-181772b2cfe4?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/f177ed59-4c98-4290-d6d4-181772b2cfe4","name":"f177ed59-4c98-4290-d6d4-181772b2cfe4","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/f177ed59-4c98-4290-d6d4-181772b2cfe4?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-27T01:18:00+00:00","endpoint":"https://credentialtestio6fysmbkd.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/credentialtestio6fysmbkd","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"510008d6-0000-0100-0000-5d8d63480000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"xufc-l0-s0:aW/Y+i/yw3INq05SGCKB","name":"Primary","value":"Dp8KUZUiyn6TnSuUaIuntY5wmsaJgSvj7UuQRMNALXs=","connectionString":"Endpoint=https://credentialtestio6fysmbkd.azconfig.io;Id=xufc-l0-s0:aW/Y+i/yw3INq05SGCKB;Secret=Dp8KUZUiyn6TnSuUaIuntY5wmsaJgSvj7UuQRMNALXs=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":false},{"id":"vELo-l0-s0:RUSoOFCiU6WmXR645Qrn","name":"Secondary","value":"1xrWvZDFau7W75efZaekPgwMQABoVH3DWGQ5ckyzuPM=","connectionString":"Endpoint=https://credentialtestio6fysmbkd.azconfig.io;Id=vELo-l0-s0:RUSoOFCiU6WmXR645Qrn;Secret=1xrWvZDFau7W75efZaekPgwMQABoVH3DWGQ5ckyzuPM=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":false},{"id":"w3Vh-l0-s0:6/ZzbITWrzIpNlrDtWzp","name":"Primary
        Read Only","value":"BB4cgUMJKXuCayFQd1VoLwnS772DfytI3Sm6TpEa6+Q=","connectionString":"Endpoint=https://credentialtestio6fysmbkd.azconfig.io;Id=w3Vh-l0-s0:6/ZzbITWrzIpNlrDtWzp;Secret=BB4cgUMJKXuCayFQd1VoLwnS772DfytI3Sm6TpEa6+Q=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":true},{"id":"t9aE-l0-s0:18NXRWjkzFreqMOF278h","name":"Secondary
        Read Only","value":"IsA5ko7plcrID6NlDyH38JALD49z+uwVhzueWkEL0is=","connectionString":"Endpoint=https://credentialtestio6fysmbkd.azconfig.io;Id=t9aE-l0-s0:18NXRWjkzFreqMOF278h;Secret=IsA5ko7plcrID6NlDyH38JALD49z+uwVhzueWkEL0is=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "xufc-l0-s0:aW/Y+i/yw3INq05SGCKB"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/RegenerateKey?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"Ql74-l0-s0:uucUkpyrVEGyAsUmyf6z","name":"Primary","value":"OPRWYJoI4wa3mQHJeSNyc1IntEsOaaR8l/Nayleq4NE=","connectionString":"Endpoint=https://credentialtestio6fysmbkd.azconfig.io;Id=Ql74-l0-s0:uucUkpyrVEGyAsUmyf6z;Secret=OPRWYJoI4wa3mQHJeSNyc1IntEsOaaR8l/Nayleq4NE=","lastModified":"2019-09-27T01:18:14+00:00","readOnly":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
version: 1
