interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-28T02:24:41.9564048+00:00","endpoint":"https://ImportTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/7412a436-afa8-4b7e-5f9a-a5547cfa4510?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/7412a436-afa8-4b7e-5f9a-a5547cfa4510?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/7412a436-afa8-4b7e-5f9a-a5547cfa4510","name":"7412a436-afa8-4b7e-5f9a-a5547cfa4510","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/7412a436-afa8-4b7e-5f9a-a5547cfa4510?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-28T02:24:43+00:00","endpoint":"https://importtest2yzf67ptockfro.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtest2yzf67ptockfro","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2d010b48-0000-0100-0000-5d8ec46b0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"CaMI-l0-s0:IVs+OU4YsrdA2aMzxFEC","name":"Primary","value":"24rgtQp0X8oxY3LsiJMGQ8+Pcb/BqOiGhyA1P5vNCCE=","connectionString":"Endpoint=https://importtest2yzf67ptockfro.azconfig.io;Id=CaMI-l0-s0:IVs+OU4YsrdA2aMzxFEC;Secret=24rgtQp0X8oxY3LsiJMGQ8+Pcb/BqOiGhyA1P5vNCCE=","lastModified":"2019-09-28T02:24:41+00:00","readOnly":false},{"id":"B9vi-l0-s0:Xf+8MCQ0J6wLqHrZig7p","name":"Secondary","value":"tFi0dEQkviKOWgbQue0fBDXCb3k3q5E7lR4eBO3U6Gg=","connectionString":"Endpoint=https://importtest2yzf67ptockfro.azconfig.io;Id=B9vi-l0-s0:Xf+8MCQ0J6wLqHrZig7p;Secret=tFi0dEQkviKOWgbQue0fBDXCb3k3q5E7lR4eBO3U6Gg=","lastModified":"2019-09-28T02:24:41+00:00","readOnly":false},{"id":"dwcg-l0-s0:4jcEnVmR0w4oIjgzPljG","name":"Primary
        Read Only","value":"kqF54mO0N9yhksvjCa9tyJOnf/TWL19dEJk5KlJS5IY=","connectionString":"Endpoint=https://importtest2yzf67ptockfro.azconfig.io;Id=dwcg-l0-s0:4jcEnVmR0w4oIjgzPljG;Secret=kqF54mO0N9yhksvjCa9tyJOnf/TWL19dEJk5KlJS5IY=","lastModified":"2019-09-28T02:24:41+00:00","readOnly":true},{"id":"Brnu-l0-s0:IURc5TGiHkH/clsWMsxE","name":"Secondary
        Read Only","value":"+1FbOxDjNu0+TlBeDgFrtbqjWEb9CnGb9bAO/07Ovv0=","connectionString":"Endpoint=https://importtest2yzf67ptockfro.azconfig.io;Id=Brnu-l0-s0:IURc5TGiHkH/clsWMsxE;Secret=+1FbOxDjNu0+TlBeDgFrtbqjWEb9CnGb9bAO/07Ovv0=","lastModified":"2019-09-28T02:24:41+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PC7Oups+djhN5P7VQ1nKd7CVH/2pq7P0uo6Aa0psTpU=
      x-ms-date:
      - Sep, 28 2019 02:24:55 GMT
    method: PUT
    uri: https://importtest2yzf67ptockfro.azconfig.io/kv/BackgroundColor?label=
  response:
    body:
      string: '{"etag":"Tfri3f9I82BrkSBYQB9QfrZXB8w","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:56+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Tfri3f9I82BrkSBYQB9QfrZXB8w"'
      last-modified:
      - Sat, 28 Sep 2019 02:24:56 GMT
      sync-token:
      - zAJw6V16=NDotMSM1ODcwMDQ=;sn=587004
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Sep, 28 2019 02:24:55 GMT
    method: PUT
    uri: https://importtest2yzf67ptockfro.azconfig.io/kv/Language?label=
  response:
    body:
      string: '{"etag":"FqGDPTcp6BSNlSNDpZtEUYO6YUP","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:56+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"FqGDPTcp6BSNlSNDpZtEUYO6YUP"'
      last-modified:
      - Sat, 28 Sep 2019 02:24:56 GMT
      sync-token:
      - zAJw6V16=NDotMSM1ODcwMDU=;sn=587005
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "English", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - QDILjzOgYSWGZAvsE9UaVqAJAXrmdhxSGLxa6xdkdlc=
      x-ms-date:
      - Sep, 28 2019 02:24:56 GMT
    method: PUT
    uri: https://importtest2yzf67ptockfro.azconfig.io/kv/Langugage?label=
  response:
    body:
      string: '{"etag":"iXicPCqOu90HdaB1W04E4fByBVb","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:56+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"iXicPCqOu90HdaB1W04E4fByBVb"'
      last-modified:
      - Sat, 28 Sep 2019 02:24:56 GMT
      sync-token:
      - zAJw6V16=NDotMSM1ODcwMDY=;sn=587006
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "Acura", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - IomN0TxyiknCeMpyC9pXASukPxU1uGXMZ2p0dSc7RkY=
      x-ms-date:
      - Sep, 28 2019 02:24:56 GMT
    method: PUT
    uri: https://importtest2yzf67ptockfro.azconfig.io/kv/Settings%3ABackgroundColor%2Fcars%2FToyota?label=
  response:
    body:
      string: '{"etag":"BQvahZAnEaSKZiJ8Ghld4nhWEdk","key":"Settings:BackgroundColor/cars/Toyota","label":null,"content_type":null,"value":"Acura","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:56+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"BQvahZAnEaSKZiJ8Ghld4nhWEdk"'
      last-modified:
      - Sat, 28 Sep 2019 02:24:56 GMT
      sync-token:
      - zAJw6V16=NDotMSM1ODcwMDc=;sn=587007
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "ship1", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 6JYPAMdWKB1Nq3JlkewuuL6gv8n/h5LcsstlSTBiS2U=
      x-ms-date:
      - Sep, 28 2019 02:24:56 GMT
    method: PUT
    uri: https://importtest2yzf67ptockfro.azconfig.io/kv/Settings%3ABackgroundColor%2Fship%2F0?label=
  response:
    body:
      string: '{"etag":"OOYdgw3wQ1QQXqp7ltaVciZrF5a","key":"Settings:BackgroundColor/ship/0","label":null,"content_type":null,"value":"ship1","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:56+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"OOYdgw3wQ1QQXqp7ltaVciZrF5a"'
      last-modified:
      - Sat, 28 Sep 2019 02:24:56 GMT
      sync-token:
      - zAJw6V16=NDotMSM1ODcwMDg=;sn=587008
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Sep, 28 2019 02:24:56 GMT
    method: PUT
    uri: https://importtest2yzf67ptockfro.azconfig.io/kv/abc?label=
  response:
    body:
      string: '{"etag":"cNxl0iTV0YYRiowJqI51aw37hGi","key":"abc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"cNxl0iTV0YYRiowJqI51aw37hGi"'
      last-modified:
      - Sat, 28 Sep 2019 02:24:57 GMT
      sync-token:
      - zAJw6V16=NDotMSM1ODcwMTE=;sn=587011
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Sep, 28 2019 02:24:56 GMT
    method: PUT
    uri: https://importtest2yzf67ptockfro.azconfig.io/kv/appabc?label=
  response:
    body:
      string: '{"etag":"atPCM5VdrYum7ntLLvmCwDRTUpp","key":"appabc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"atPCM5VdrYum7ntLLvmCwDRTUpp"'
      last-modified:
      - Sat, 28 Sep 2019 02:24:57 GMT
      sync-token:
      - zAJw6V16=NDotMSM1ODcwMTI=;sn=587012
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "black", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 3zRtmzsbtz/bO3WpX/Lz50BMrJsDVg75l44KhYt3GGo=
      x-ms-date:
      - Sep, 28 2019 02:24:56 GMT
    method: PUT
    uri: https://importtest2yzf67ptockfro.azconfig.io/kv/background-color?label=
  response:
    body:
      string: '{"etag":"BHuTxXqOjjc6j7yay2BlUqFVjYa","key":"background-color","label":null,"content_type":null,"value":"black","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"BHuTxXqOjjc6j7yay2BlUqFVjYa"'
      last-modified:
      - Sat, 28 Sep 2019 02:24:57 GMT
      sync-token:
      - zAJw6V16=NDotMSM1ODcwMTM=;sn=587013
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "34", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - RYAiemxYAA9E5VcODQIuKsC6SG3KVPkcm0TOHEMaaek=
      x-ms-date:
      - Sep, 28 2019 02:24:56 GMT
    method: PUT
    uri: https://importtest2yzf67ptockfro.azconfig.io/kv/font-size?label=
  response:
    body:
      string: '{"etag":"ty7KnROb7rdOFJmL87p9rjJzrul","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ty7KnROb7rdOFJmL87p9rjJzrul"'
      last-modified:
      - Sat, 28 Sep 2019 02:24:57 GMT
      sync-token:
      - zAJw6V16=NDotMSM1ODcwMTQ=;sn=587014
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Sep, 28 2019 02:24:56 GMT
    method: PUT
    uri: https://importtest2yzf67ptockfro.azconfig.io/kv/language?label=
  response:
    body:
      string: '{"etag":"zuyuEUPeCB22XVfnEthvybpVKIx","key":"language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"zuyuEUPeCB22XVfnEthvybpVKIx"'
      last-modified:
      - Sat, 28 Sep 2019 02:24:57 GMT
      sync-token:
      - zAJw6V16=NDotMSM1ODcwMTU=;sn=587015
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 28 2019 02:24:58 GMT
    method: GET
    uri: https://importtest2yzf67ptockfro.azconfig.io/kv?key=*&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"Tfri3f9I82BrkSBYQB9QfrZXB8w","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:56+00:00"},{"etag":"FqGDPTcp6BSNlSNDpZtEUYO6YUP","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-09-28T02:24:56+00:00"},{"etag":"iXicPCqOu90HdaB1W04E4fByBVb","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modifi[...]
