interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-25T22:03:46.5082695+00:00","endpoint":"https://ImportTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/053392db-9b1c-e800-b420-dd39b5634df3?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/053392db-9b1c-e800-b420-dd39b5634df3?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/053392db-9b1c-e800-b420-dd39b5634df3","name":"053392db-9b1c-e800-b420-dd39b5634df3","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/053392db-9b1c-e800-b420-dd39b5634df3?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-25T22:03:47+00:00","endpoint":"https://importtestgfdsqbuiqs3dd7.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtestgfdsqbuiqs3dd7","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0301c0b4-0000-0100-0000-5d8be4430000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"5mJe-l0-s0:+iLLB3P6W59PGSl6Bd2T","name":"Primary","value":"sU7jxRak6Qq+uRJtMe7KbRO09WbBekWAlk8jtIE2fWk=","connectionString":"Endpoint=https://importtestgfdsqbuiqs3dd7.azconfig.io;Id=5mJe-l0-s0:+iLLB3P6W59PGSl6Bd2T;Secret=sU7jxRak6Qq+uRJtMe7KbRO09WbBekWAlk8jtIE2fWk=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":false},{"id":"mc8L-l0-s0:k0fghStd0ilwL6/W4HKe","name":"Secondary","value":"SHXjvvDOzyiRln2knZjaUpOMCGQYcE8pGkTB31Ma1NI=","connectionString":"Endpoint=https://importtestgfdsqbuiqs3dd7.azconfig.io;Id=mc8L-l0-s0:k0fghStd0ilwL6/W4HKe;Secret=SHXjvvDOzyiRln2knZjaUpOMCGQYcE8pGkTB31Ma1NI=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":false},{"id":"Fk/g-l0-s0:rbhuLit6intHiAD+qm6f","name":"Primary
        Read Only","value":"t3LGG5sPZast1tt51Hlii2QSxUFNTwhE6W4ebirAyJg=","connectionString":"Endpoint=https://importtestgfdsqbuiqs3dd7.azconfig.io;Id=Fk/g-l0-s0:rbhuLit6intHiAD+qm6f;Secret=t3LGG5sPZast1tt51Hlii2QSxUFNTwhE6W4ebirAyJg=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":true},{"id":"pNIu-l0-s0:se2IsB03DBwXJg0Sub8F","name":"Secondary
        Read Only","value":"fybN80gcg85Ks6YJqx6CBnLLZ0uDigiNyYj2X7tMGYU=","connectionString":"Endpoint=https://importtestgfdsqbuiqs3dd7.azconfig.io;Id=pNIu-l0-s0:se2IsB03DBwXJg0Sub8F;Secret=fybN80gcg85Ks6YJqx6CBnLLZ0uDigiNyYj2X7tMGYU=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PC7Oups+djhN5P7VQ1nKd7CVH/2pq7P0uo6Aa0psTpU=
      x-ms-date:
      - Sep, 25 2019 22:04:00 GMT
    method: PUT
    uri: https://importtestgfdsqbuiqs3dd7.azconfig.io/kv/BackgroundColor?label=
  response:
    body:
      string: '{"etag":"HVGN1QcoO8UWYp8BwUbuYneahxg","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"HVGN1QcoO8UWYp8BwUbuYneahxg"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:01 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NDQ=;sn=560844
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Sep, 25 2019 22:04:01 GMT
    method: PUT
    uri: https://importtestgfdsqbuiqs3dd7.azconfig.io/kv/Language?label=
  response:
    body:
      string: '{"etag":"k7IbB3fGBs3EaZrdXoZoVi4AYwV","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"k7IbB3fGBs3EaZrdXoZoVi4AYwV"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:01 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NDU=;sn=560845
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "English", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - QDILjzOgYSWGZAvsE9UaVqAJAXrmdhxSGLxa6xdkdlc=
      x-ms-date:
      - Sep, 25 2019 22:04:01 GMT
    method: PUT
    uri: https://importtestgfdsqbuiqs3dd7.azconfig.io/kv/Langugage?label=
  response:
    body:
      string: '{"etag":"qX4evfKyjLezooFxzpio5SU0XNG","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qX4evfKyjLezooFxzpio5SU0XNG"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:01 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NDY=;sn=560846
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "Acura", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - IomN0TxyiknCeMpyC9pXASukPxU1uGXMZ2p0dSc7RkY=
      x-ms-date:
      - Sep, 25 2019 22:04:01 GMT
    method: PUT
    uri: https://importtestgfdsqbuiqs3dd7.azconfig.io/kv/Settings%3ABackgroundColor%2Fcars%2FToyota?label=
  response:
    body:
      string: '{"etag":"Xc8nfqOhWWkw6rdvCPZ21b5oPRM","key":"Settings:BackgroundColor/cars/Toyota","label":null,"content_type":null,"value":"Acura","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Xc8nfqOhWWkw6rdvCPZ21b5oPRM"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:01 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NDc=;sn=560847
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "ship1", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 6JYPAMdWKB1Nq3JlkewuuL6gv8n/h5LcsstlSTBiS2U=
      x-ms-date:
      - Sep, 25 2019 22:04:01 GMT
    method: PUT
    uri: https://importtestgfdsqbuiqs3dd7.azconfig.io/kv/Settings%3ABackgroundColor%2Fship%2F0?label=
  response:
    body:
      string: '{"etag":"NB7vf5OKvRs07W8N1KReUm8GOxB","key":"Settings:BackgroundColor/ship/0","label":null,"content_type":null,"value":"ship1","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"NB7vf5OKvRs07W8N1KReUm8GOxB"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:01 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NDg=;sn=560848
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Sep, 25 2019 22:04:01 GMT
    method: PUT
    uri: https://importtestgfdsqbuiqs3dd7.azconfig.io/kv/abc?label=
  response:
    body:
      string: '{"etag":"06MTbGv8Omcqp7MRtUtlM88rAay","key":"abc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"06MTbGv8Omcqp7MRtUtlM88rAay"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:02 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NTI=;sn=560852
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Sep, 25 2019 22:04:01 GMT
    method: PUT
    uri: https://importtestgfdsqbuiqs3dd7.azconfig.io/kv/appabc?label=
  response:
    body:
      string: '{"etag":"m4fRPqQoqRhB8KUCMrgXvL9QVA2","key":"appabc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"m4fRPqQoqRhB8KUCMrgXvL9QVA2"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:02 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NTM=;sn=560853
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "black", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 3zRtmzsbtz/bO3WpX/Lz50BMrJsDVg75l44KhYt3GGo=
      x-ms-date:
      - Sep, 25 2019 22:04:01 GMT
    method: PUT
    uri: https://importtestgfdsqbuiqs3dd7.azconfig.io/kv/background-color?label=
  response:
    body:
      string: '{"etag":"1xU09oLYPdSBtQaNdJj46mGO81A","key":"background-color","label":null,"content_type":null,"value":"black","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1xU09oLYPdSBtQaNdJj46mGO81A"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:02 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NTQ=;sn=560854
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "34", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - RYAiemxYAA9E5VcODQIuKsC6SG3KVPkcm0TOHEMaaek=
      x-ms-date:
      - Sep, 25 2019 22:04:01 GMT
    method: PUT
    uri: https://importtestgfdsqbuiqs3dd7.azconfig.io/kv/font-size?label=
  response:
    body:
      string: '{"etag":"HQNqVYfA2rlq33mypTxHqqcZJer","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"HQNqVYfA2rlq33mypTxHqqcZJer"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:02 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NTU=;sn=560855
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Sep, 25 2019 22:04:02 GMT
    method: PUT
    uri: https://importtestgfdsqbuiqs3dd7.azconfig.io/kv/language?label=
  response:
    body:
      string: '{"etag":"owWiuPr5hTjR98FfNgJsjuiFQzj","key":"language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"owWiuPr5hTjR98FfNgJsjuiFQzj"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:02 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NTY=;sn=560856
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:03 GMT
    method: GET
    uri: https://importtestgfdsqbuiqs3dd7.azconfig.io/kv?key=*&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"HVGN1QcoO8UWYp8BwUbuYneahxg","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:01+00:00"},{"etag":"k7IbB3fGBs3EaZrdXoZoVi4AYwV","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:01+00:00"},{"etag":"qX4evfKyjLezooFxzpio5SU0XNG","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modifi[...]
