interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-25T22:03:46.4325449+00:00","endpoint":"https://FeatureTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002","name":"FeatureTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/cc678a38-6a24-1d22-fc8c-c8a1900d883a?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/cc678a38-6a24-1d22-fc8c-c8a1900d883a?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/cc678a38-6a24-1d22-fc8c-c8a1900d883a","name":"cc678a38-6a24-1d22-fc8c-c8a1900d883a","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/cc678a38-6a24-1d22-fc8c-c8a1900d883a?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-25T22:03:47+00:00","endpoint":"https://featuretesty5bk4x2jn5f6h.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featuretesty5bk4x2jn5f6h","name":"FeatureTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0301c4b4-0000-0100-0000-5d8be4430000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"Lmp8-l0-s0:ic8pvHKvA1WHNDVXFo7d","name":"Primary","value":"ZketfpofMjg4c1p4tjZeQrF//NMzvtJQsfJl513Apkw=","connectionString":"Endpoint=https://featuretesty5bk4x2jn5f6h.azconfig.io;Id=Lmp8-l0-s0:ic8pvHKvA1WHNDVXFo7d;Secret=ZketfpofMjg4c1p4tjZeQrF//NMzvtJQsfJl513Apkw=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":false},{"id":"QBNm-l0-s0:g8ufdtyNPl8t33AsDZGH","name":"Secondary","value":"r5jVCjYfPWiVQQFxjM1msSq9XxVE4S+GXsGB+BsUW0k=","connectionString":"Endpoint=https://featuretesty5bk4x2jn5f6h.azconfig.io;Id=QBNm-l0-s0:g8ufdtyNPl8t33AsDZGH;Secret=r5jVCjYfPWiVQQFxjM1msSq9XxVE4S+GXsGB+BsUW0k=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":false},{"id":"/pov-l0-s0:cojMIXVldDoiiq3y/sXM","name":"Primary
        Read Only","value":"zrGN3jXjStzE30KO/FTW54TbvyvO3gY2nYtTRWSsoGo=","connectionString":"Endpoint=https://featuretesty5bk4x2jn5f6h.azconfig.io;Id=/pov-l0-s0:cojMIXVldDoiiq3y/sXM;Secret=zrGN3jXjStzE30KO/FTW54TbvyvO3gY2nYtTRWSsoGo=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":true},{"id":"3Day-l0-s0:0DNcrNIPOyQ75fWG8cms","name":"Secondary
        Read Only","value":"PLvwxdxYJNMHlJdUZ7DWIQDJb8w0gux5x4awKaDZ1Dw=","connectionString":"Endpoint=https://featuretesty5bk4x2jn5f6h.azconfig.io;Id=3Day-l0-s0:0DNcrNIPOyQ75fWG8cms;Secret=PLvwxdxYJNMHlJdUZ7DWIQDJb8w0gux5x4awKaDZ1Dw=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:03:59 GMT
    method: GET
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"label\":
      \"v1\", \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - LGAOlGD778BU8ExA/MNA5BynjK7D6dfbxMNH1sl1puY=
      x-ms-date:
      - Sep, 25 2019 22:03:59 GMT
    method: PUT
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1
  response:
    body:
      string: '{"etag":"kR5PCvjM1jikkfBHikbswH2GxbF","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"label\": \"v1\", \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"kR5PCvjM1jikkfBHikbswH2GxbF"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:00 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NDM=;sn=560843
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"Beta Testing Feature Flag\",
      \"enabled\": false, \"label\": \"v1\", \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"kR5PCvjM1jikkfBHikbswH2GxbF"'
      x-ms-content-sha256:
      - JzWMGd7OXBERJW9okGz/qTjJbg5GwyxsGWLmpLrUAwA=
      x-ms-date:
      - Sep, 25 2019 22:04:01 GMT
    method: PUT
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1
  response:
    body:
      string: '{"etag":"nVWsUnI1dsMNZlqlD3vOTtdm7NR","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v1\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"nVWsUnI1dsMNZlqlD3vOTtdm7NR"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:02 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NTE=;sn=560851
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:10 GMT
    method: GET
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&fields=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:12 GMT
    method: GET
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"nVWsUnI1dsMNZlqlD3vOTtdm7NR","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v1\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:02+00:00"},{"etag":"24rROKq9apdxdwkhBctWP3J65be","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v2\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:05+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NTg=;sn=560858
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:13 GMT
    method: GET
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv/.appconfig.featureflag%2FBetaPrefix?label=&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"BetaPrefix\", \"description\": null, \"enabled\": false,
      \"label\": null, \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - 0ep6Aq/9a0raS0R/HE5aoeLND4sHw8NpLsBlV7ceJ7E=
      x-ms-date:
      - Sep, 25 2019 22:04:13 GMT
    method: PUT
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv/.appconfig.featureflag%2FBetaPrefix?label=
  response:
    body:
      string: '{"etag":"e4oHoZegHIMrJisw1WoVqXilyft","key":".appconfig.featureflag/BetaPrefix","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"BetaPrefix\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:14+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"e4oHoZegHIMrJisw1WoVqXilyft"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:14 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NTk=;sn=560859
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:15 GMT
    method: GET
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv/.appconfig.featureflag%2FSuffixBeta?label=&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"SuffixBeta\", \"description\": null, \"enabled\": false,
      \"label\": null, \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - 3eFtzVQAJ0X/0QYfWqYucuZMc6O55Mqk5O1R3/WDQic=
      x-ms-date:
      - Sep, 25 2019 22:04:16 GMT
    method: PUT
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv/.appconfig.featureflag%2FSuffixBeta?label=
  response:
    body:
      string: '{"etag":"40kGBqMuee5g74R68LAo6EWJGfN","key":".appconfig.featureflag/SuffixBeta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"SuffixBeta\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:16+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"40kGBqMuee5g74R68LAo6EWJGfN"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:16 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NjA=;sn=560860
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:17 GMT
    method: GET
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv/.appconfig.featureflag%2FThisBetaVersion?label=&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"ThisBetaVersion\", \"description\": null, \"enabled\":
      false, \"label\": null, \"conditions\": {\"client_filters\": []}}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - IYpSllO8xrKij0XGTGMp7s2pIIe+Bm2JcTnaY0QYrzQ=
      x-ms-date:
      - Sep, 25 2019 22:04:17 GMT
    method: PUT
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv/.appconfig.featureflag%2FThisBetaVersion?label=
  response:
    body:
      string: '{"etag":"4zidlvXBv0PmOT1b92nFKghukr7","key":".appconfig.featureflag/ThisBetaVersion","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"ThisBetaVersion\", \"description\": null, \"enabled\": false, \"label\":
        null, \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:18+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"4zidlvXBv0PmOT1b92nFKghukr7"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:18 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NjE=;sn=560861
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:25 GMT
    method: GET
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv?key=.appconfig.featureflag%2FBeta%2A&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"nVWsUnI1dsMNZlqlD3vOTtdm7NR","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:27 GMT
    method: GET
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv?key=.appconfig.featureflag%2FBeta%2A&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"e4oHoZegHIMrJisw1WoVqXilyft","key":".appconfig.featureflag/BetaPrefix","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"BetaPrefix\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:14+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NjE=;sn=560861
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:28 GMT
    method: GET
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv?key=%2ABeta&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"nVWsUnI1dsMNZlqlD3vOTtdm7NR","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:30 GMT
    method: GET
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv?key=%2ABeta&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"40kGBqMuee5g74R68LAo6EWJGfN","key":".appconfig.featureflag/SuffixBeta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"SuffixBeta\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:16+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NjE=;sn=560861
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:31 GMT
    method: GET
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv?key=%2ABeta%2A&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"nVWsUnI1dsMNZlqlD3vOTtdm7NR","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:33 GMT
    method: GET
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv?key=%2ABeta%2A&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"e4oHoZegHIMrJisw1WoVqXilyft","key":".appconfig.featureflag/BetaPrefix","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:36 GMT
    method: GET
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv?key=.appconfig.featureflag%2FBeta%2Aion&label=%00&fields=
  response:
    body:
      string: '{"type":"https://azconfig.io/errors/invalid-argument","title":"Invalid
        request parameter ''key''","name":"key","detail":"key(27): Invalid character","pos":27,"status":400}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:37 GMT
    method: GET
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/kv?key=.appconfig.featureflag%2FBeta&label=v2&fields=
  response:
    body:
      string: '{"items":[{"etag":"24rROKq9apdxdwkhBctWP3J65be","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v2\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:05+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NjI=;sn=560862
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"4zidlvXBv0PmOT1b92nFKghukr7"'
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:40 GMT
    method: PUT
    uri: https://featuretesty5bk4x2jn5f6h.azconfig.io/locks/.appconfig.featureflag%2FThisBetaVersion?label=
  response:
    body:
      string: '{"etag":"Jy5OLiLiNWJW685ZkXwJnwwGGxl","key":".appconfig.featureflag/ThisBetaVersion","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"ThisBetaVersion\", \"description\": null, \"enabled\": false, \"label\":
        null, \"conditions\": {\"client_filters\": []}}","tags":{},"locked":true,"last_modified":"2019-09-25T22:04:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Jy5OLiLiNWJW685ZkXwJnwwGGxl"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:40 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4NjY=;sn=560866
    status:
      code: 200
      message: OK
[...]
