interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-25T22:43:12.9700665+00:00","endpoint":"https://KVTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/36eb3ffa-9255-d2c2-2c98-5ba13a913f8b?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/36eb3ffa-9255-d2c2-2c98-5ba13a913f8b?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/36eb3ffa-9255-d2c2-2c98-5ba13a913f8b","name":"36eb3ffa-9255-d2c2-2c98-5ba13a913f8b","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/36eb3ffa-9255-d2c2-2c98-5ba13a913f8b?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-25T22:43:14+00:00","endpoint":"https://kvtestisqqj7fhqy4jklrce7.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestisqqj7fhqy4jklrce7","name":"KVTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"04011a40-0000-0100-0000-5d8bed810000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"lG5u-l0-s0:iirVPXaAAxGMzUROk5wT","name":"Primary","value":"+DuOJkbnJhp3dA9lJdqwAR0M/N80Hs1YT078ZyeYZtc=","connectionString":"Endpoint=https://kvtestisqqj7fhqy4jklrce7.azconfig.io;Id=lG5u-l0-s0:iirVPXaAAxGMzUROk5wT;Secret=+DuOJkbnJhp3dA9lJdqwAR0M/N80Hs1YT078ZyeYZtc=","lastModified":"2019-09-25T22:43:12+00:00","readOnly":false},{"id":"47/X-l0-s0:d+NAtOst1HKewduO3zda","name":"Secondary","value":"DUcrJgKaVNJzdVYQXBncisgrlUlD41vpNL1jfzjp6pw=","connectionString":"Endpoint=https://kvtestisqqj7fhqy4jklrce7.azconfig.io;Id=47/X-l0-s0:d+NAtOst1HKewduO3zda;Secret=DUcrJgKaVNJzdVYQXBncisgrlUlD41vpNL1jfzjp6pw=","lastModified":"2019-09-25T22:43:12+00:00","readOnly":false},{"id":"PjW5-l0-s0:0nKPL6FBHk1n94WkSn7Q","name":"Primary
        Read Only","value":"Ueg1gqPnXjAyqD9ht4cHl9hx1x28WzCnSSnx1ry00Rc=","connectionString":"Endpoint=https://kvtestisqqj7fhqy4jklrce7.azconfig.io;Id=PjW5-l0-s0:0nKPL6FBHk1n94WkSn7Q;Secret=Ueg1gqPnXjAyqD9ht4cHl9hx1x28WzCnSSnx1ry00Rc=","lastModified":"2019-09-25T22:43:12+00:00","readOnly":true},{"id":"zV8G-l0-s0:UA/x0t+aPPr8XsaGcGVn","name":"Secondary
        Read Only","value":"q192YZqsuarN6gbpCJHGZzDfkkuZR8k15ETJzD6HkZM=","connectionString":"Endpoint=https://kvtestisqqj7fhqy4jklrce7.azconfig.io;Id=zV8G-l0-s0:UA/x0t+aPPr8XsaGcGVn;Secret=q192YZqsuarN6gbpCJHGZzDfkkuZR8k15ETJzD6HkZM=","lastModified":"2019-09-25T22:43:12+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:25 GMT
    method: GET
    uri: https://kvtestisqqj7fhqy4jklrce7.azconfig.io/kv/Color?label=v1.0.0&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "text", "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - yZlwX3fgUtcVK+aqB5JbkB+YnuorZ8XpcuBG5xu2FHw=
      x-ms-date:
      - Sep, 25 2019 22:43:26 GMT
    method: PUT
    uri: https://kvtestisqqj7fhqy4jklrce7.azconfig.io/kv/Color?label=v1.0.0
  response:
    body:
      string: '{"etag":"ryOtMRTvPMX5850B1SB1gLHQ2hi","key":"Color","label":"v1.0.0","content_type":"text","value":"Red","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ryOtMRTvPMX5850B1SB1gLHQ2hi"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:26 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4OTA=;sn=560890
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "text", "value": "Green", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"ryOtMRTvPMX5850B1SB1gLHQ2hi"'
      x-ms-content-sha256:
      - DsaPqt/ALwfjVRXkDKNPeRKKVC4wUGzvRH61CVrpT6o=
      x-ms-date:
      - Sep, 25 2019 22:43:28 GMT
    method: PUT
    uri: https://kvtestisqqj7fhqy4jklrce7.azconfig.io/kv/Color?label=v1.0.0
  response:
    body:
      string: '{"etag":"1zMhLZitpKnm4UhqpcCxpRQfnoT","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:28+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1zMhLZitpKnm4UhqpcCxpRQfnoT"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:28 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4OTE=;sn=560891
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:29 GMT
    method: GET
    uri: https://kvtestisqqj7fhqy4jklrce7.azconfig.io/kv/Color?label=newlabel&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "text", "value": "Green", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - WiZBXGG/De7UJCUWU2UUmKALtp5LjZS45s8U26H2gn4=
      x-ms-date:
      - Sep, 25 2019 22:43:30 GMT
    method: PUT
    uri: https://kvtestisqqj7fhqy4jklrce7.azconfig.io/kv/Color?label=newlabel
  response:
    body:
      string: '{"etag":"iUAB8gjm6kvEWNePY5oHVxlga0O","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"iUAB8gjm6kvEWNePY5oHVxlga0O"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:30 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4OTI=;sn=560892
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:32 GMT
    method: GET
    uri: https://kvtestisqqj7fhqy4jklrce7.azconfig.io/kv?key=*&label=*&fields=
  response:
    body:
      string: '{"items":[{"etag":"iUAB8gjm6kvEWNePY5oHVxlga0O","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:30+00:00"},{"etag":"1zMhLZitpKnm4UhqpcCxpRQfnoT","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:28+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSM1NjA4OTI=;sn=560892
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:34 GMT
    method: GET
    uri: https://kvtestisqqj7fhqy4jklrce7.azconfig.io/revisions?key=Color&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"iUAB8gjm6kvEWNePY5oHVxlga0O","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:30+00:00"},{"etag":"1zMhLZitpKnm4UhqpcCxpRQfnoT","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:28+00:00"},{"etag":"ryOtMRTvPMX5850B1SB1gLHQ2hi","key":"Color","label":"v1.0.0","content_type":"text","value":"Red","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:26+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSM1NjA4OTI=;sn=560892
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:36 GMT
    method: GET
    uri: https://kvtestisqqj7fhqy4jklrce7.azconfig.io/kv?key=Color&label=newlabel&fields=
  response:
    body:
      string: '{"items":[{"etag":"iUAB8gjm6kvEWNePY5oHVxlga0O","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:30+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSM1NjA4OTI=;sn=560892
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Accept-Datetime:
      - '2019-09-25T22:43:30Z'
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:42 GMT
    method: GET
    uri: https://kvtestisqqj7fhqy4jklrce7.azconfig.io/kv?key=Color&label=newlabel&fields=
  response:
    body:
      string: '{"items":[{"etag":"iUAB8gjm6kvEWNePY5oHVxlga0O","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:30+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      link:
      - </kv?key=Color&label=newlabel&fields=>; rel="original"
      memento-datetime:
      - Wed, 25 Sep 2019 22:43:30 GMT
      sync-token:
      - zAJw6V16=NTotMSM1NjA4OTQ=;sn=560894
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:44 GMT
    method: GET
    uri: https://kvtestisqqj7fhqy4jklrce7.azconfig.io/kv?key=Color&label=newlabel&fields=
  response:
    body:
      string: '{"items":[{"etag":"NrDwvsFxr9XZvayDEsiNbUQRUbi","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:43+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSM1NjA4OTU=;sn=560895
    status:
      code: 200
      message: OK
version: 1
