interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-25T22:03:46.4203996+00:00","endpoint":"https://KVTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/7a8101cc-6f74-dbd9-927f-0d01e2e091c6?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/7a8101cc-6f74-dbd9-927f-0d01e2e091c6?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/7a8101cc-6f74-dbd9-927f-0d01e2e091c6","name":"7a8101cc-6f74-dbd9-927f-0d01e2e091c6","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/7a8101cc-6f74-dbd9-927f-0d01e2e091c6?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-25T22:03:47+00:00","endpoint":"https://kvtestksubwd3eb36ng5tkwb.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestksubwd3eb36ng5tkwb","name":"KVTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0301bdb4-0000-0100-0000-5d8be4430000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"Zm85-l0-s0:m/6dtLh0XKxWiVTyskgb","name":"Primary","value":"Bu7IfP8kxHtB9KEM2U3rhkGKm9yYg3UFm/yKXNNGzX4=","connectionString":"Endpoint=https://kvtestksubwd3eb36ng5tkwb.azconfig.io;Id=Zm85-l0-s0:m/6dtLh0XKxWiVTyskgb;Secret=Bu7IfP8kxHtB9KEM2U3rhkGKm9yYg3UFm/yKXNNGzX4=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":false},{"id":"AD8O-l0-s0:pXQfTaRyRh7t2LncVUsQ","name":"Secondary","value":"leJ7mPxIHWqtKv9MSgRwh/LtnfiAJYQIakf7/8/lEoo=","connectionString":"Endpoint=https://kvtestksubwd3eb36ng5tkwb.azconfig.io;Id=AD8O-l0-s0:pXQfTaRyRh7t2LncVUsQ;Secret=leJ7mPxIHWqtKv9MSgRwh/LtnfiAJYQIakf7/8/lEoo=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":false},{"id":"rDcj-l0-s0:2C3PUuKzJqiDGxveAaOi","name":"Primary
        Read Only","value":"Ps8O0BTzgcEcOjsuyCpW6IocaVS7BpPa8cZA4wbhEw0=","connectionString":"Endpoint=https://kvtestksubwd3eb36ng5tkwb.azconfig.io;Id=rDcj-l0-s0:2C3PUuKzJqiDGxveAaOi;Secret=Ps8O0BTzgcEcOjsuyCpW6IocaVS7BpPa8cZA4wbhEw0=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":true},{"id":"PSM1-l0-s0:zDGIF34ICFVsFRoRgK7y","name":"Secondary
        Read Only","value":"MLshqcyLTV297NGtXpBfC6sZgwIdYs0uFr86yuLdrlo=","connectionString":"Endpoint=https://kvtestksubwd3eb36ng5tkwb.azconfig.io;Id=PSM1-l0-s0:zDGIF34ICFVsFRoRgK7y;Secret=MLshqcyLTV297NGtXpBfC6sZgwIdYs0uFr86yuLdrlo=","lastModified":"2019-09-25T22:03:46+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:03:59 GMT
    method: GET
    uri: https://kvtestksubwd3eb36ng5tkwb.azconfig.io/kv/Color?label=v1.0.0&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "text", "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - yZlwX3fgUtcVK+aqB5JbkB+YnuorZ8XpcuBG5xu2FHw=
      x-ms-date:
      - Sep, 25 2019 22:04:00 GMT
    method: PUT
    uri: https://kvtestksubwd3eb36ng5tkwb.azconfig.io/kv/Color?label=v1.0.0
  response:
    body:
      string: '{"etag":"c2cbwypAPfY0FT3yP6v2UxFwMXw","key":"Color","label":"v1.0.0","content_type":"text","value":"Red","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"c2cbwypAPfY0FT3yP6v2UxFwMXw"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:00 GMT
      sync-token:
      - zAJw6V16=ODotMSM0MDYwMzg=;sn=406038
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "text", "value": "Green", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"c2cbwypAPfY0FT3yP6v2UxFwMXw"'
      x-ms-content-sha256:
      - DsaPqt/ALwfjVRXkDKNPeRKKVC4wUGzvRH61CVrpT6o=
      x-ms-date:
      - Sep, 25 2019 22:04:01 GMT
    method: PUT
    uri: https://kvtestksubwd3eb36ng5tkwb.azconfig.io/kv/Color?label=v1.0.0
  response:
    body:
      string: '{"etag":"9E4Wax1pkiJcjUtj00JdX1T4Ck8","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"9E4Wax1pkiJcjUtj00JdX1T4Ck8"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:02 GMT
      sync-token:
      - zAJw6V16=ODotMSM0MDYwMzk=;sn=406039
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:03 GMT
    method: GET
    uri: https://kvtestksubwd3eb36ng5tkwb.azconfig.io/kv/Color?label=newlabel&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "text", "value": "Green", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - WiZBXGG/De7UJCUWU2UUmKALtp5LjZS45s8U26H2gn4=
      x-ms-date:
      - Sep, 25 2019 22:04:03 GMT
    method: PUT
    uri: https://kvtestksubwd3eb36ng5tkwb.azconfig.io/kv/Color?label=newlabel
  response:
    body:
      string: '{"etag":"Jai895xAPQOWINIP5kBsgqB85AG","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:04+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Jai895xAPQOWINIP5kBsgqB85AG"'
      last-modified:
      - Wed, 25 Sep 2019 22:04:04 GMT
      sync-token:
      - zAJw6V16=ODotMSM0MDYwNDA=;sn=406040
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:06 GMT
    method: GET
    uri: https://kvtestksubwd3eb36ng5tkwb.azconfig.io/kv?key=*&label=*&fields=
  response:
    body:
      string: '{"items":[{"etag":"Jai895xAPQOWINIP5kBsgqB85AG","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:04+00:00"},{"etag":"9E4Wax1pkiJcjUtj00JdX1T4Ck8","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:02+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODotMSM0MDYwNDA=;sn=406040
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:08 GMT
    method: GET
    uri: https://kvtestksubwd3eb36ng5tkwb.azconfig.io/revisions?key=Color&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"Jai895xAPQOWINIP5kBsgqB85AG","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:04+00:00"},{"etag":"9E4Wax1pkiJcjUtj00JdX1T4Ck8","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:02+00:00"},{"etag":"c2cbwypAPfY0FT3yP6v2UxFwMXw","key":"Color","label":"v1.0.0","content_type":"text","value":"Red","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:00+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODotMSM0MDYwNDA=;sn=406040
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:10 GMT
    method: GET
    uri: https://kvtestksubwd3eb36ng5tkwb.azconfig.io/kv?key=Color&label=newlabel&fields=
  response:
    body:
      string: '{"items":[{"etag":"Jai895xAPQOWINIP5kBsgqB85AG","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:04+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODotMSM0MDYwNDA=;sn=406040
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Accept-Datetime:
      - '2019-09-25T22:04:04Z'
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:15 GMT
    method: GET
    uri: https://kvtestksubwd3eb36ng5tkwb.azconfig.io/kv?key=Color&label=newlabel&fields=
  response:
    body:
      string: '{"items":[{"etag":"Jai895xAPQOWINIP5kBsgqB85AG","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:04+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      link:
      - </kv?key=Color&label=newlabel&fields=>; rel="original"
      memento-datetime:
      - Wed, 25 Sep 2019 22:04:04 GMT
      sync-token:
      - zAJw6V16=ODotMSM0MDYwNDI=;sn=406042
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:04:16 GMT
    method: GET
    uri: https://kvtestksubwd3eb36ng5tkwb.azconfig.io/kv?key=Color&label=newlabel&fields=
  response:
    body:
      string: '{"items":[{"etag":"Ck86PYmydMhDL13PzywCEwunDHy","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-25T22:04:15+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODotMSM0MDYwNDM=;sn=406043
    status:
      code: 200
      message: OK
version: 1
