interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-25T22:43:13.0924152+00:00","endpoint":"https://FeatureFilterTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002","name":"FeatureFilterTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/32353d1b-6acc-c4ed-0f0a-a8f8113186bf?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/32353d1b-6acc-c4ed-0f0a-a8f8113186bf?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/32353d1b-6acc-c4ed-0f0a-a8f8113186bf","name":"32353d1b-6acc-c4ed-0f0a-a8f8113186bf","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/32353d1b-6acc-c4ed-0f0a-a8f8113186bf?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-25T22:43:14+00:00","endpoint":"https://featurefiltertestcbvvou2.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurefiltertestcbvvou2","name":"FeatureFilterTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"04011f40-0000-0100-0000-5d8bed820000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"1HOK-l0-s0:TMC+iMlPCkMgN7aUEJkE","name":"Primary","value":"9QxBbaiWzkU8YixAC3Y1wSKlDyCD8BCD5h0a2bhPnTU=","connectionString":"Endpoint=https://featurefiltertestcbvvou2.azconfig.io;Id=1HOK-l0-s0:TMC+iMlPCkMgN7aUEJkE;Secret=9QxBbaiWzkU8YixAC3Y1wSKlDyCD8BCD5h0a2bhPnTU=","lastModified":"2019-09-25T22:43:13+00:00","readOnly":false},{"id":"LHSF-l0-s0:lgBzA4sMP54Mf5KWTa6b","name":"Secondary","value":"h/hDyVpXmYW7U9PzmzFsLKQaEbDCjUghRhB2hmHHSkc=","connectionString":"Endpoint=https://featurefiltertestcbvvou2.azconfig.io;Id=LHSF-l0-s0:lgBzA4sMP54Mf5KWTa6b;Secret=h/hDyVpXmYW7U9PzmzFsLKQaEbDCjUghRhB2hmHHSkc=","lastModified":"2019-09-25T22:43:13+00:00","readOnly":false},{"id":"uiQN-l0-s0:PNura5qRj6mE+DrKR4qf","name":"Primary
        Read Only","value":"G75imRpJC3mKhOZ8tI0wWouKTaJsx9QiN/CLAJyWCG0=","connectionString":"Endpoint=https://featurefiltertestcbvvou2.azconfig.io;Id=uiQN-l0-s0:PNura5qRj6mE+DrKR4qf;Secret=G75imRpJC3mKhOZ8tI0wWouKTaJsx9QiN/CLAJyWCG0=","lastModified":"2019-09-25T22:43:13+00:00","readOnly":true},{"id":"aSPH-l0-s0:/Tdj6VUH/HzTnJS1eHLC","name":"Secondary
        Read Only","value":"cmemS/MKFdXLriDmkGGXvzSynjxzFbeFaoNFYwP1Vz4=","connectionString":"Endpoint=https://featurefiltertestcbvvou2.azconfig.io;Id=aSPH-l0-s0:/Tdj6VUH/HzTnJS1eHLC;Secret=cmemS/MKFdXLriDmkGGXvzSynjxzFbeFaoNFYwP1Vz4=","lastModified":"2019-09-25T22:43:13+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:25 GMT
    method: GET
    uri: https://featurefiltertestcbvvou2.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Color\", \"description\": null, \"enabled\": false, \"label\":
      \"Standard\", \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - rmaEbXCnxZg/Y916PgS5BygdBObCH7K8idm75ZURhf0=
      x-ms-date:
      - Sep, 25 2019 22:43:26 GMT
    method: PUT
    uri: https://featurefiltertestcbvvou2.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard
  response:
    body:
      string: '{"etag":"owRY4WkgHgUURytlU5t5Nkk0j18","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": null, \"enabled\": false, \"label\": \"Standard\",
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"owRY4WkgHgUURytlU5t5Nkk0j18"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:26 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1MzY=;sn=579536
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Color\", \"description\": null, \"enabled\": false, \"label\":
      \"Standard\", \"conditions\": {\"client_filters\": [{\"name\": \"FirstFilter\",
      \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\",
      \"Name3\": \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}}]}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"owRY4WkgHgUURytlU5t5Nkk0j18"'
      x-ms-content-sha256:
      - ebSeH8Qnmf23k8iA5hEN6YDsTipxsrlwgc1rUwxMC2M=
      x-ms-date:
      - Sep, 25 2019 22:43:28 GMT
    method: PUT
    uri: https://featurefiltertestcbvvou2.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard
  response:
    body:
      string: '{"etag":"Ukh5w49nFvLcI7ojcAok3dl7aZy","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": null, \"enabled\": false, \"label\": \"Standard\",
        \"conditions\": {\"client_filters\": [{\"name\": \"FirstFilter\", \"parameters\":
        {\"Name1\": [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\", \"Name3\":
        \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}}]}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:28+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Ukh5w49nFvLcI7ojcAok3dl7aZy"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:28 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1NDk=;sn=579549
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Color\", \"description\": null, \"enabled\": false, \"label\":
      \"Standard\", \"conditions\": {\"client_filters\": [{\"name\": \"FirstFilter\",
      \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\",
      \"Name3\": \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}}, {\"name\": \"SecondFilter\",
      \"parameters\": {\"Foo\": \"Bar=value\", \"name\": \"Foo=Bar\", \"{\\\"Value\\\":\\\"50\\\",\\\"SecondValue\\\":\\\"75\\\"}\":
      \"ParamNameIsJsonString\"}}]}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"Ukh5w49nFvLcI7ojcAok3dl7aZy"'
      x-ms-content-sha256:
      - 9sSresrIM9UAcxs7Qb1EwlAJD7klmRr8DjilVYbVW5Q=
      x-ms-date:
      - Sep, 25 2019 22:43:34 GMT
    method: PUT
    uri: https://featurefiltertestcbvvou2.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard
  response:
    body:
      string: '{"et[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:53 GMT
    method: GET
    uri: https://featurefiltertestcbvvou2.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&fields=
  response:
    body:
      string: '{"etag":"73a0q0olxo84MIKfKtNPRuCYY86","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": null, \"enabled\": true, \"label\": \"Standard\",
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:53+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"73a0q0olxo84MIKfKtNPRuCYY86"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:53 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1NjE=;sn=579561
    status:
      code: 200
      message: OK
version: 1
