interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-28T02:24:42.0181675+00:00","endpoint":"https://CredentialTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/feef2a76-f88d-a084-39f8-a816508eb8b5?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/feef2a76-f88d-a084-39f8-a816508eb8b5?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/feef2a76-f88d-a084-39f8-a816508eb8b5","name":"feef2a76-f88d-a084-39f8-a816508eb8b5","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/feef2a76-f88d-a084-39f8-a816508eb8b5?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-28T02:24:43+00:00","endpoint":"https://credentialtest3kxsovl7jy.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/credentialtest3kxsovl7jy","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5c00171a-0000-0100-0000-5d8ec46b0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"Is0K-l0-s0:KxMOFOebt9CYuLJIRVi6","name":"Primary","value":"RE4GUmqAhDijkfjKlyhTRbvCjbBHJvvovkFh8yFl8rM=","connectionString":"Endpoint=https://credentialtest3kxsovl7jy.azconfig.io;Id=Is0K-l0-s0:KxMOFOebt9CYuLJIRVi6;Secret=RE4GUmqAhDijkfjKlyhTRbvCjbBHJvvovkFh8yFl8rM=","lastModified":"2019-09-28T02:24:42+00:00","readOnly":false},{"id":"pwvC-l0-s0:zjIEE+tJjkE/Wv1BFG5C","name":"Secondary","value":"UEEO7tyvgRa55LaaKZp8HAIVXfO7eg2esN96+NfEggs=","connectionString":"Endpoint=https://credentialtest3kxsovl7jy.azconfig.io;Id=pwvC-l0-s0:zjIEE+tJjkE/Wv1BFG5C;Secret=UEEO7tyvgRa55LaaKZp8HAIVXfO7eg2esN96+NfEggs=","lastModified":"2019-09-28T02:24:42+00:00","readOnly":false},{"id":"XViF-l0-s0:MxUc3AmUZzuHlyzgmBJn","name":"Primary
        Read Only","value":"iCiXU4zEplgXClIWFW8B0BNJIbhcSaNu0VLy4hNQqQE=","connectionString":"Endpoint=https://credentialtest3kxsovl7jy.azconfig.io;Id=XViF-l0-s0:MxUc3AmUZzuHlyzgmBJn;Secret=iCiXU4zEplgXClIWFW8B0BNJIbhcSaNu0VLy4hNQqQE=","lastModified":"2019-09-28T02:24:42+00:00","readOnly":true},{"id":"aM0O-l0-s0:rixbXeWnWXjPVmhhQw4E","name":"Secondary
        Read Only","value":"lK+QVcCSGETk0fNJVUiZ3SAg/iXcyO3tyHAvC1v2y8s=","connectionString":"Endpoint=https://credentialtest3kxsovl7jy.azconfig.io;Id=aM0O-l0-s0:rixbXeWnWXjPVmhhQw4E;Secret=lK+QVcCSGETk0fNJVUiZ3SAg/iXcyO3tyHAvC1v2y8s=","lastModified":"2019-09-28T02:24:42+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "Is0K-l0-s0:KxMOFOebt9CYuLJIRVi6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/RegenerateKey?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/ZQM-l0-s0:c+628Mi+K83Rnq2gIYcb","name":"Primary","value":"0pa/44FnTNcdGW62LRGGztesLzHeEDlkXG31jPvx+zI=","connectionString":"Endpoint=https://credentialtest3kxsovl7jy.azconfig.io;Id=/ZQM-l0-s0:c+628Mi+K83Rnq2gIYcb;Secret=0pa/44FnTNcdGW62LRGGztesLzHeEDlkXG31jPvx+zI=","lastModified":"2019-09-28T02:24:56+00:00","readOnly":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
