interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-27T01:17:59.9485155+00:00","endpoint":"https://KVTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/5eaf8b08-77ce-9b31-41e8-5a9e40c7f046?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/5eaf8b08-77ce-9b31-41e8-5a9e40c7f046?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/5eaf8b08-77ce-9b31-41e8-5a9e40c7f046","name":"5eaf8b08-77ce-9b31-41e8-5a9e40c7f046","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/5eaf8b08-77ce-9b31-41e8-5a9e40c7f046?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-27T01:18:00+00:00","endpoint":"https://kvtestydselrqv3o4bzkdhqj.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestydselrqv3o4bzkdhqj","name":"KVTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"190175e5-0000-0100-0000-5d8d63480000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"Znw+-l0-s0:mVbW3FkZtlt4k/Uo0flx","name":"Primary","value":"9HOZ17gpUdBy1kGvIcGZACCmDPzKa1s4qfOyD1Kc1As=","connectionString":"Endpoint=https://kvtestydselrqv3o4bzkdhqj.azconfig.io;Id=Znw+-l0-s0:mVbW3FkZtlt4k/Uo0flx;Secret=9HOZ17gpUdBy1kGvIcGZACCmDPzKa1s4qfOyD1Kc1As=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":false},{"id":"K/cX-l0-s0:RLtm7xbnY9S9gDYyVcux","name":"Secondary","value":"3272pJh9tnUyEGb+bYNuVrFnGdui0h4rsFpnW6tzmFw=","connectionString":"Endpoint=https://kvtestydselrqv3o4bzkdhqj.azconfig.io;Id=K/cX-l0-s0:RLtm7xbnY9S9gDYyVcux;Secret=3272pJh9tnUyEGb+bYNuVrFnGdui0h4rsFpnW6tzmFw=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":false},{"id":"8AAM-l0-s0:G4BYu0LJyBus+Qgx6hJr","name":"Primary
        Read Only","value":"7d8CX+tBHO/LrB6Lv/x1RMPhOJEHujPaZemAr9KXhsI=","connectionString":"Endpoint=https://kvtestydselrqv3o4bzkdhqj.azconfig.io;Id=8AAM-l0-s0:G4BYu0LJyBus+Qgx6hJr;Secret=7d8CX+tBHO/LrB6Lv/x1RMPhOJEHujPaZemAr9KXhsI=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":true},{"id":"hqDi-l0-s0:koejjfpqbCqRZ+F1J+q3","name":"Secondary
        Read Only","value":"Adns+qqvM2SGl/U8NuA9+vIpXOl2vWwcyv2ofyUYLoI=","connectionString":"Endpoint=https://kvtestydselrqv3o4bzkdhqj.azconfig.io;Id=hqDi-l0-s0:koejjfpqbCqRZ+F1J+q3;Secret=Adns+qqvM2SGl/U8NuA9+vIpXOl2vWwcyv2ofyUYLoI=","lastModified":"2019-09-27T01:17:59+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:12 GMT
    method: GET
    uri: https://kvtestydselrqv3o4bzkdhqj.azconfig.io/kv/Color?label=v1.0.0&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "text", "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - yZlwX3fgUtcVK+aqB5JbkB+YnuorZ8XpcuBG5xu2FHw=
      x-ms-date:
      - Sep, 27 2019 01:18:13 GMT
    method: PUT
    uri: https://kvtestydselrqv3o4bzkdhqj.azconfig.io/kv/Color?label=v1.0.0
  response:
    body:
      string: '{"etag":"dwWrNTf9nmEPkjSsZkJWqcft1p6","key":"Color","label":"v1.0.0","content_type":"text","value":"Red","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"dwWrNTf9nmEPkjSsZkJWqcft1p6"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:13 GMT
      sync-token:
      - zAJw6V16=ODotMSM0MDY2ODE=;sn=406681
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "text", "value": "Green", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"dwWrNTf9nmEPkjSsZkJWqcft1p6"'
      x-ms-content-sha256:
      - DsaPqt/ALwfjVRXkDKNPeRKKVC4wUGzvRH61CVrpT6o=
      x-ms-date:
      - Sep, 27 2019 01:18:15 GMT
    method: PUT
    uri: https://kvtestydselrqv3o4bzkdhqj.azconfig.io/kv/Color?label=v1.0.0
  response:
    body:
      string: '{"etag":"DvowOn5wLEvretioIcWXudOiMfb","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"DvowOn5wLEvretioIcWXudOiMfb"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:15 GMT
      sync-token:
      - zAJw6V16=ODotMSM0MDY2ODI=;sn=406682
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:16 GMT
    method: GET
    uri: https://kvtestydselrqv3o4bzkdhqj.azconfig.io/kv/Color?label=newlabel&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "text", "value": "Green", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - WiZBXGG/De7UJCUWU2UUmKALtp5LjZS45s8U26H2gn4=
      x-ms-date:
      - Sep, 27 2019 01:18:16 GMT
    method: PUT
    uri: https://kvtestydselrqv3o4bzkdhqj.azconfig.io/kv/Color?label=newlabel
  response:
    body:
      string: '{"etag":"PZeLIW1Ju5HkwUPQ41RDj0Fz6PQ","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:17+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"PZeLIW1Ju5HkwUPQ41RDj0Fz6PQ"'
      last-modified:
      - Fri, 27 Sep 2019 01:18:17 GMT
      sync-token:
      - zAJw6V16=ODotMSM0MDY2ODM=;sn=406683
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:19 GMT
    method: GET
    uri: https://kvtestydselrqv3o4bzkdhqj.azconfig.io/kv?key=*&label=*&fields=
  response:
    body:
      string: '{"items":[{"etag":"PZeLIW1Ju5HkwUPQ41RDj0Fz6PQ","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:17+00:00"},{"etag":"DvowOn5wLEvretioIcWXudOiMfb","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:15+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODotMSM0MDY2ODM=;sn=406683
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:21 GMT
    method: GET
    uri: https://kvtestydselrqv3o4bzkdhqj.azconfig.io/revisions?key=Color&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"PZeLIW1Ju5HkwUPQ41RDj0Fz6PQ","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:17+00:00"},{"etag":"DvowOn5wLEvretioIcWXudOiMfb","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:15+00:00"},{"etag":"dwWrNTf9nmEPkjSsZkJWqcft1p6","key":"Color","label":"v1.0.0","content_type":"text","value":"Red","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:13+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODotMSM0MDY2ODM=;sn=406683
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:22 GMT
    method: GET
    uri: https://kvtestydselrqv3o4bzkdhqj.azconfig.io/kv?key=Color&label=newlabel&fields=
  response:
    body:
      string: '{"items":[{"etag":"PZeLIW1Ju5HkwUPQ41RDj0Fz6PQ","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:17+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODotMSM0MDY2ODM=;sn=406683
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Accept-Datetime:
      - '2019-09-27T01:18:17Z'
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:27 GMT
    method: GET
    uri: https://kvtestydselrqv3o4bzkdhqj.azconfig.io/kv?key=Color&label=newlabel&fields=
  response:
    body:
      string: '{"items":[{"etag":"PZeLIW1Ju5HkwUPQ41RDj0Fz6PQ","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:17+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      link:
      - </kv?key=Color&label=newlabel&fields=>; rel="original"
      memento-datetime:
      - Fri, 27 Sep 2019 01:18:17 GMT
      sync-token:
      - zAJw6V16=ODotMSM0MDY2ODU=;sn=406685
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 27 2019 01:18:29 GMT
    method: GET
    uri: https://kvtestydselrqv3o4bzkdhqj.azconfig.io/kv?key=Color&label=newlabel&fields=
  response:
    body:
      string: '{"items":[{"etag":"pkBRZdmmd1t8Jw8ol0TmnTNqUvG","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-09-27T01:18:28+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODotMSM0MDY2ODY=;sn=406686
    status:
      code: 200
      message: OK
version: 1
