interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-25T22:43:13.0848925+00:00","endpoint":"https://FeatureTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002","name":"FeatureTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a356658a-5ac3-3ba4-7de9-be16f4d0a53c?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a356658a-5ac3-3ba4-7de9-be16f4d0a53c?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a356658a-5ac3-3ba4-7de9-be16f4d0a53c","name":"a356658a-5ac3-3ba4-7de9-be16f4d0a53c","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a356658a-5ac3-3ba4-7de9-be16f4d0a53c?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-25T22:43:14+00:00","endpoint":"https://featuretestvt6hexnn4dqdb.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featuretestvt6hexnn4dqdb","name":"FeatureTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3a00d63b-0000-0100-0000-5d8bed810000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"wWgA-l0-s0:OQV1i//IkY08Z1+di7QN","name":"Primary","value":"oh+JH2CIUxC5B/LYNpBqewz852gWk/Q9k7PJRQWSdA8=","connectionString":"Endpoint=https://featuretestvt6hexnn4dqdb.azconfig.io;Id=wWgA-l0-s0:OQV1i//IkY08Z1+di7QN;Secret=oh+JH2CIUxC5B/LYNpBqewz852gWk/Q9k7PJRQWSdA8=","lastModified":"2019-09-25T22:43:13+00:00","readOnly":false},{"id":"Lq+g-l0-s0:BlG4cszb+uhqvQLBxfTp","name":"Secondary","value":"xsOR6AA7lNobPttk8QZs3e2iphrp/HZgGyOXxSXWRCk=","connectionString":"Endpoint=https://featuretestvt6hexnn4dqdb.azconfig.io;Id=Lq+g-l0-s0:BlG4cszb+uhqvQLBxfTp;Secret=xsOR6AA7lNobPttk8QZs3e2iphrp/HZgGyOXxSXWRCk=","lastModified":"2019-09-25T22:43:13+00:00","readOnly":false},{"id":"QMxE-l0-s0:Ghr5IX3+TzhOgoQytsKk","name":"Primary
        Read Only","value":"oFpGOiBWWiIfVq0nOBt5/cQ9+Ks5VoNDvR3nyrBmbmU=","connectionString":"Endpoint=https://featuretestvt6hexnn4dqdb.azconfig.io;Id=QMxE-l0-s0:Ghr5IX3+TzhOgoQytsKk;Secret=oFpGOiBWWiIfVq0nOBt5/cQ9+Ks5VoNDvR3nyrBmbmU=","lastModified":"2019-09-25T22:43:13+00:00","readOnly":true},{"id":"WedF-l0-s0:KEcWNapHQ80rZMDucFZt","name":"Secondary
        Read Only","value":"Nd3sF1BNSpnYwNzv+LXhBG4LEKLzWcr0Nvx0LrL9yck=","connectionString":"Endpoint=https://featuretestvt6hexnn4dqdb.azconfig.io;Id=WedF-l0-s0:KEcWNapHQ80rZMDucFZt;Secret=Nd3sF1BNSpnYwNzv+LXhBG4LEKLzWcr0Nvx0LrL9yck=","lastModified":"2019-09-25T22:43:13+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:25 GMT
    method: GET
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"label\":
      \"v1\", \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - LGAOlGD778BU8ExA/MNA5BynjK7D6dfbxMNH1sl1puY=
      x-ms-date:
      - Sep, 25 2019 22:43:26 GMT
    method: PUT
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1
  response:
    body:
      string: '{"etag":"uDYbPgHAwZtvcjLtdsfJ4lCiOJv","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"label\": \"v1\", \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"uDYbPgHAwZtvcjLtdsfJ4lCiOJv"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:26 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1Mzk=;sn=579539
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"Beta Testing Feature Flag\",
      \"enabled\": false, \"label\": \"v1\", \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"uDYbPgHAwZtvcjLtdsfJ4lCiOJv"'
      x-ms-content-sha256:
      - JzWMGd7OXBERJW9okGz/qTjJbg5GwyxsGWLmpLrUAwA=
      x-ms-date:
      - Sep, 25 2019 22:43:33 GMT
    method: PUT
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1
  response:
    body:
      string: '{"etag":"NcRgbe2OkoTxz07bt61d5OGavV1","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v1\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:33+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"NcRgbe2OkoTxz07bt61d5OGavV1"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:33 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1NTA=;sn=579550
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:43 GMT
    method: GET
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&fields=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:44 GMT
    method: GET
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"NcRgbe2OkoTxz07bt61d5OGavV1","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v1\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:33+00:00"},{"etag":"8qnhlGSZUKpVio8kCJ9Uo5dt9Qo","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v2\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:37+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1NTQ=;sn=579554
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:46 GMT
    method: GET
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv/.appconfig.featureflag%2FBetaPrefix?label=&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"BetaPrefix\", \"description\": null, \"enabled\": false,
      \"label\": null, \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - 0ep6Aq/9a0raS0R/HE5aoeLND4sHw8NpLsBlV7ceJ7E=
      x-ms-date:
      - Sep, 25 2019 22:43:46 GMT
    method: PUT
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv/.appconfig.featureflag%2FBetaPrefix?label=
  response:
    body:
      string: '{"etag":"XiKnO7yC6uJwaWgIG4kya0X1TgN","key":".appconfig.featureflag/BetaPrefix","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"BetaPrefix\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:47+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"XiKnO7yC6uJwaWgIG4kya0X1TgN"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:47 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1NTY=;sn=579556
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:48 GMT
    method: GET
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv/.appconfig.featureflag%2FSuffixBeta?label=&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"SuffixBeta\", \"description\": null, \"enabled\": false,
      \"label\": null, \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - 3eFtzVQAJ0X/0QYfWqYucuZMc6O55Mqk5O1R3/WDQic=
      x-ms-date:
      - Sep, 25 2019 22:43:48 GMT
    method: PUT
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv/.appconfig.featureflag%2FSuffixBeta?label=
  response:
    body:
      string: '{"etag":"LszstDG9k2ofdo2EH4WYwFipV1Q","key":".appconfig.featureflag/SuffixBeta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"SuffixBeta\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:49+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"LszstDG9k2ofdo2EH4WYwFipV1Q"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:49 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1NTc=;sn=579557
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:49 GMT
    method: GET
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv/.appconfig.featureflag%2FThisBetaVersion?label=&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"ThisBetaVersion\", \"description\": null, \"enabled\":
      false, \"label\": null, \"conditions\": {\"client_filters\": []}}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - IYpSllO8xrKij0XGTGMp7s2pIIe+Bm2JcTnaY0QYrzQ=
      x-ms-date:
      - Sep, 25 2019 22:43:49 GMT
    method: PUT
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv/.appconfig.featureflag%2FThisBetaVersion?label=
  response:
    body:
      string: '{"etag":"n4UTIrol1aOtFBXhlgXkwAGMhvk","key":".appconfig.featureflag/ThisBetaVersion","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"ThisBetaVersion\", \"description\": null, \"enabled\": false, \"label\":
        null, \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"n4UTIrol1aOtFBXhlgXkwAGMhvk"'
      last-modified:
      - Wed, 25 Sep 2019 22:43:50 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1NTk=;sn=579559
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:52 GMT
    method: GET
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv?key=.appconfig.featureflag%2FBeta%2A&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"NcRgbe2OkoTxz07bt61d5OGavV1","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:54 GMT
    method: GET
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv?key=.appconfig.featureflag%2FBeta%2A&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"XiKnO7yC6uJwaWgIG4kya0X1TgN","key":".appconfig.featureflag/BetaPrefix","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"BetaPrefix\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:47+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1NjE=;sn=579561
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:55 GMT
    method: GET
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv?key=%2ABeta&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"NcRgbe2OkoTxz07bt61d5OGavV1","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:57 GMT
    method: GET
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv?key=%2ABeta&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"LszstDG9k2ofdo2EH4WYwFipV1Q","key":".appconfig.featureflag/SuffixBeta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"SuffixBeta\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:49+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1NjE=;sn=579561
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:58 GMT
    method: GET
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv?key=%2ABeta%2A&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"NcRgbe2OkoTxz07bt61d5OGavV1","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:43:59 GMT
    method: GET
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv?key=%2ABeta%2A&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"XiKnO7yC6uJwaWgIG4kya0X1TgN","key":".appconfig.featureflag/BetaPrefix","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:44:02 GMT
    method: GET
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv?key=.appconfig.featureflag%2FBeta%2Aion&label=%00&fields=
  response:
    body:
      string: '{"type":"https://azconfig.io/errors/invalid-argument","title":"Invalid
        request parameter ''key''","name":"key","detail":"key(27): Invalid character","pos":27,"status":400}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:44:03 GMT
    method: GET
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/kv?key=.appconfig.featureflag%2FBeta&label=v2&fields=
  response:
    body:
      string: '{"items":[{"etag":"8qnhlGSZUKpVio8kCJ9Uo5dt9Qo","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v2\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-25T22:43:37+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1NjI=;sn=579562
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"n4UTIrol1aOtFBXhlgXkwAGMhvk"'
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 25 2019 22:44:06 GMT
    method: PUT
    uri: https://featuretestvt6hexnn4dqdb.azconfig.io/locks/.appconfig.featureflag%2FThisBetaVersion?label=
  response:
    body:
      string: '{"etag":"I2ME5n4uZKQQcKIPZldn5hULd5g","key":".appconfig.featureflag/ThisBetaVersion","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"ThisBetaVersion\", \"description\": null, \"enabled\": false, \"label\":
        null, \"conditions\": {\"client_filters\": []}}","tags":{},"locked":true,"last_modified":"2019-09-25T22:44:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"I2ME5n4uZKQQcKIPZldn5hULd5g"'
      last-modified:
      - Wed, 25 Sep 2019 22:44:07 GMT
      sync-token:
      - zAJw6V16=NDotMSM1Nzk1NjY=;sn=579566
    status:
      code: 200
      message: OK
[...]
